i.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ebebeb;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
}
i.icon::before {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 5px;
}
i.icon::after {
  content: "";
  display: block;
  background: #c2c2c2;
  width: 20px;
  height: 10px;
  border-radius: 1000px 1000px 0 0;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 15px;
}

h6.byline {
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}
h6.byline .data {
  font-weight: 400;
}
h6.byline .label {
  font-size: 60%;
}

.indented.comment {
  padding-left: 15px;
  border-left: 1px solid #ebebeb;
}

.push {
  margin-bottom: 40px;
}

.bullets {
  margin-left: 30px;
}
