<% @side_nav = "css" %>
<% @page_title = "Accordion" %>

<div class="row">
  <div class="large-9 push-3 columns">
    <h2>Accordion</h2>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>