<% @page_title = "Block Grid" %>
<div class="row">
  <div class="large-12 columns">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-2 large-block-grid-5">
      <li><img src="http://placekitten.com/1000/1000"></li>
      <li><img src="http://placekitten.com/1000/1000"></li>
      <li><img src="http://placekitten.com/1000/1000"></li>
      <li><img src="http://placekitten.com/1000/1000"></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-3 large-block-grid-6">
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
      <li><img src="http://placekitten.com/g/1000/1000"></li>
    </ul>
  </div>
</div>


