<% @page_title = "Clearing" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<ul data-clearing>
  <li><a href="../img/demos/demo1.png"><img src="../img/demos/demo1-th.png"></a></li>
  <li><a href="../img/demos/demo2.png"><img src="../img/demos/demo2-th.png"></a></li>
  <li><a href="../img/demos/demo3.png"><img src="../img/demos/demo3-th.png"></a></li>
  <li><a href="../img/demos/demo4.png"><img src="../img/demos/demo4-th.png"></a></li>
  <li><a href="../img/demos/demo5.png"><img src="../img/demos/demo5-th.png"></a></li>
</ul>

