<% @page_title = "Clearing" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<ul data-clearing>
  <li><a href="http://placekitten.com/1000/1000"><img data-caption="Here's and awesome caption that someone might add. They had a great time with this cat, obviously!" src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
</ul>

