<% @page_title = "Clearing" %>
<div class="row">
  <div class="large-12 columns">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Since Orbit isn't intended for variable-height content, we decided it would be a great idea to create a plugin that would help in that regard. Clearing makes it easy to create responsive lightboxes with any size image.</h4>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <ul class="clearing-thumbs" data-clearing>
      <li><a class="th" href="../img/demos/demo1.png"><img data-caption="blah caption, blah" src="../img/demos/demo1-th.png"></a></li>
      <li><a class="th" href="../img/demos/demo2.png"><img src="../img/demos/demo2-th.png"></a></li>
      <li><a class="th" href="../img/demos/demo3.png"><img src="../img/demos/demo3-th.png"></a></li>
      <li><a class="th" href="../img/demos/demo4.png"><img src="../img/demos/demo4-th.png"></a></li>
      <li><a class="th" href="../img/demos/demo5.png"><img src="../img/demos/demo5-th.png"></a></li>
    </ul>

  </div>
</div>