<% @page_title = "Clearing" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<ul data-clearing>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/50/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/300/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/100/200"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/600/100"></a></li>
  <li><a href="http://placekitten.com/1000/1000"><img src="http://placekitten.com/200/100"></a></li>
</ul>

