<% @page_title = "Dropdown Buttons" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12">

    <a href="#" class="tiny button dropdown">Dropdown Button</a><br>
    <a href="#" class="small secondary button dropdown">Dropdown Button</a><br>
    <a href="#" class="button alert dropdown">Dropdown Button</a><br>
    <a href="#" class="large success button dropdown">Dropdown Button</a><br>
    <a href="#" class="large button dropdown expand">Dropdown Button</a><br>

  </div>
</div>

