<style>
  .row.display { background: #eee; font-size: 11px; margin-bottom: 10px; }
  .row.display .columns, .row.display .column { background: #e7e7e7; border: 1px solid #ddd; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; }
</style>

<% @page_title = "Clearing" %>
<div class="row">
  <div class="large-12 columns">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>The Grid</h3>
    <h4 class="subheader">Create powerful multi-device layouts quickly and easily with the 12-column, nestable Foundation 3 grid. If you're familiar with grid systems, you'll feel right at home.</h4>

    <br>

    <div class="row">
      <div class="large-4 columns">
        <a name="base-ex"></a>
        <h4>Examples</h4>
        <p>These are examples of different ways to use the Foundation Grid. Foundation 3 uses <kbd>border-box</kbd> so that borders and padding do not effect the overall width.</p>
        <h5>Nesting</h5>
        <p>The grid allows for nesting down as far as you'd like, though at a certain point it will get absurd. You can use this nesting to create quite complex layouts, as well as some other tricks like form layouts or visual elements.</p>
      </div>

      <div class="large-8 columns">
        <div class="row display">
          <div class="large-4 columns">
            .four.columns
          </div>
          <div class="large-4 columns">
            .four.columns
          </div>
          <div class="large-4 columns">
            .four.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-3 columns">
            .three.columns
          </div>
          <div class="large-6 columns">
            .six.columns
          </div>
          <div class="large-3 columns">
            .three.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-2 columns">
            .two.columns
          </div>
          <div class="large-8 columns">
            .eight.columns
          </div>
          <div class="large-2 columns">
            .two.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-1 columns">
            .one
          </div>
          <div class="large-11 columns">
            .eleven.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-2 columns">
            .two.columns
          </div>
          <div class="large-10 columns">
            .ten.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-3 columns">
            .three.columns
          </div>
          <div class="large-9 columns">
            .nine.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-4 columns">
            .four.columns
          </div>
          <div class="large-8 columns">
            .eight.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-5 columns">
            .five.columns
          </div>
          <div class="large-7 columns">
            .seven.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-6 columns">
            .six.columns
          </div>
          <div class="large-6 columns">
            .six.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-7 columns">
            .seven.columns
          </div>
          <div class="large-5 columns">
            .five.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-8 columns">
            .eight.columns
          </div>
          <div class="large-4 columns">
            .four.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-9 columns">
            .nine.columns
          </div>
          <div class="large-3 columns">
            .three.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-10 columns">
            .ten.columns
          </div>
          <div class="large-2 columns">
            .two.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-11 columns">
            .eleven.columns
          </div>
          <div class="large-1 columns">
            .one
          </div>
        </div>
        <div class="row display">
          <div class="large-12 columns">
            .twelve.columns
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="large-4 columns">
        <a name="offset"></a>
        <h4>Offsets</h4>
        <p>Offsets allow you to create additional space between columns in a row. Like the rest of the grid, they're nestable.</p>
      </div>
      <div class="large-8 columns">
        <div class="row display">
          <div class="large-1 columns">
            .one
          </div>
          <div class="large-11 columns">
            .eleven.columns
          </div>
        </div>
        <div class="row display">
          <div class="large-1 columns">
            .one
          </div>
          <div class="large-10 large-offset-1 columns">
            .ten.columns.offset-by-one
          </div>
        </div>
        <div class="row display">
          <div class="large-1 columns">
            .one
          </div>
          <div class="large-9 large-offset-2 columns">
            .nine.columns.offset-by-two
          </div>
        </div>
        <div class="row display">
          <div class="large-1 columns">
            .one
          </div>
          <div class="large-8 large-offset-3 columns">
            .eight.columns.offset-by-three
          </div>
        </div>
        <div class="row display">
          <div class="large-7 large-offset-5 columns">
            .seven.columns.offset-by-five
          </div>
        </div>
        <div class="row display">
          <div class="large-6 large-offset-6 columns">
            .six.columns.offset-by-six
          </div>
        </div>
        <div class="row display">
          <div class="large-5 large-offset-7 columns">
            .five.columns.offset-by-seven
          </div>
        </div>
        <div class="row display">
          <div class="large-4 large-offset-8 columns">
            .four.columns.offset-by-eight
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="large-4 columns">
        <a name="center"></a>
        <h4>Centered Columns</h4>
        <p>Centered columns are placed in the middle of the row. This does not center their content, but centers the grid element itself.</p>
      </div>
      <div class="large-8 columns">
        <div class="row display">
          <div class="large-1 large-centered columns">
            .one.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-2 large-centered columns">
            .two.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-3 large-centered columns">
            .three.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-4 large-centered columns">
            .four.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-5 large-centered columns">
            .five.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-6 large-centered columns">
            .six.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-7 large-centered columns">
            .seven.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-8 large-centered columns">
            .eight.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-9 large-centered columns">
            .nine.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-10 large-centered columns">
            .ten.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-11 large-centered columns">
            .eleven.columns.centered
          </div>
        </div>
        <div class="row display">
          <div class="large-12 large-centered columns">
            .twelve.columns.centered
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="large-4 columns">
        <a name="order"></a>
        <h4>Source Ordering</h4>
        <p>Using these source ordering classes, you can shift columns around on desktops and tablets. On phones, the grid will still be linearized into the order of the markup.</p>
      </div>
      <div class="large-8 columns">
        <div class="row display">
          <div class="large-2 large-push-10 columns">
            .two.columns
          </div>
          <div class="large-10 large-pull-2 columns">
            .ten.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-3 large-push-9 columns">
            .three.columns
          </div>
          <div class="large-9 large-pull-3 columns">
            .nine.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-4 large-push-8 columns">
            .four.columns
          </div>
          <div class="large-8 large-pull-4 columns">
            .eight.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-5 large-push-7 columns">
            .five.columns
          </div>
          <div class="large-7 large-pull-5 columns">
            .seven.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-6 large-push-6 columns">
            .six.columns
          </div>
          <div class="large-6 large-pull-6 columns">
            .six.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-7 large-push-5 columns">
            .seven.columns
          </div>
          <div class="large-5 large-pull-7 columns">
            .five.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-8 large-push-4 columns">
            .eight.columns
          </div>
          <div class="large-4 large-pull-8 columns">
            .four.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-9 large-push-3 columns">
            .nine.columns
          </div>
          <div class="large-3 large-pull-9 columns">
            .three.columns (last)
          </div>
        </div>
        <div class="row display">
          <div class="large-10 large-push-2 columns">
            .ten.columns
          </div>
          <div class="large-2 large-pull-10 columns">
            .two (last)
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="large-4 columns">
        <a name="mobile"></a>
        <h4>Mobile Grid</h4>
        <p>When you're creating your layout you can optionally attach classes that take your existing grid elements and attach them to a phone grid.</p>
        <h5>Mobile Source Ordering</h5>
        <p>The syntax includes <code>.pull-one-mobile</code>, <code>.pull-two-mobile</code>, <code>.pull-three-mobile</code>, <code>.push-one-mobile</code>, <code>.push-two-mobile</code>, <code>.push-three-mobile</code>.</p>
      </div>
      <div class="large-8 columns">
        <div class="row display">
          <div class="small-3 large-3 columns">
            .three.mobile-one.columns
          </div>
          <div class="small-9 large-9 columns">
            .nine.mobile-three.columns
          </div>
        </div>
        <div class="row display">
          <div class="small-6 large-6 columns">
            .six.mobile-two.columns
          </div>
          <div class="small-6 large-6 columns">
            .six.mobile-two.columns
          </div>
        </div>
        <div class="row display">
          <div class="small-3 large-9 columns">
            .nine.mobile-three.columns
          </div>
          <div class="small-9 large-3 columns">
            .three.mobile-one.columns
          </div>
        </div>
        <div class="row display">
          <div class="small-6 large-6 columns">
            .six.mobile-two.columns
          </div>
          <div class="small-6 large-6 columns">
            .six.mobile-two.columns
          </div>
        </div>
        <div class="row display">
          <div class="small-3 large-9 columns">
            .nine.mobile-three.columns
          </div>
          <div class="small-9 large-3 columns">
            .three.mobile-one.columns
          </div>
        </div>
        <div class="row display">
          <div class="small-3 large-9 small-centered large-centered columns">
            .nine.mobile-three.columns
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
