<% @side_nav = "js" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Interchange" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
      </div>
    </div>

    <div data-foundation-load></div>

    <div class="row">
      <div class="large-12 columns">

        <img data-foundation-load="[../img/demos/demo1-th.jpg, replace, (small)], [../img/demos/demo1.jpg, (min-width: 768px)]">

      </div>
    </div>

  </div>

</div>