<% @side_nav = "js" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Interchange" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <img src="../img/demos/interchange/default.jpg" data-interchange="[../img/demos/interchange/default.jpg, (default)], [../img/demos/interchange/small.jpg, (small)], [../img/demos/interchange/small.jpg, (landscape)], [../img/demos/interchange/medium.jpg, (medium)]">

        <br><br>

      </div>
    </div>

  </div>

</div>