<% @page_title = "Labels" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4">
    <a name="labels"></a>
    <h4>Labels</h4>
    <p>Labels are useful inline styles that can be dropped into body copy to call out certain sections or to attach metadata. Examples might be noting when something was updated or that something is new. The syntax is simple, just a <code>span</code> element with a class of .label. The border styling mirrors that of the Foundation buttons.</p>
  </div>
  <br>
  <div class="large-8">
    <div class="row">
      <div class="small-6 large-3">
        <p>
          <span class="label">Regular Label</span><br />
          <span class="radius label">Radius Label</span><br />
          <span class="round label">Round Label</span>
        </p>
      </div>
      <div class="small-6 large-3 end">
        <p>
          <span class="secondary radius label">Secondary Label</span><br />
          <span class="alert label">Alert Label</span><br />
          <span class="success round label">Success Label</span><br />
        </p>
      </div>
    </div>
    <p><span class="radius label">Example Label</span> This label could read a date for an update or it could include an author name or anything really. Inline labels are pretty handy when you need to draw attention or visually separate a short piece of content.</p>
  </div>
</div>
