<% @page_title = "Magellan" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12">

    <h3>Magellan</h3>
    <h4 class="subheader">Magellan is an easy to use, powerful navigation slider built to be responsive, just like Foundation.</h4>

    <div class="row">
      <div class="four columns">
        <div data-magellan-expedition="fixed" id="magellanTopNav">
          <h4>Navigation</h4>
          <ul>
            <li><a href="#cape-virgenes" data-magellan-arrival="cape-virgenes">cape virgenes</a></li>
            <li><a href="#tierra-del-fuego" data-magellan-arrival="tierra-del-fuego">tierra-del-fuego</a></li>
            <li><a href="#limasawa" data-magellan-arrival="limasawa">limasawa</a></li>
          </ul>
        </div>
      </div>
      <div class="eight columns">
        <div id="magellanTour">
          <a name="cape-virgenes"></a>
          <div id="destination1" data-magellan-destination="cape-virgenes">
            <h4>cape virgenes</h4>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
          </div>
          <a name="tierra-del-fuego"></a>
          <div id="destination2" data-magellan-destination="tierra-del-fuego">
            <h4>tierra-del-fuego</h4>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
          </div>
          <a name="limasawa"></a>
          <div id="destination3" data-magellan-destination="limasawa">
            <h4>limasawa</h4>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
            <p>Bacon ipsum dolor sit amet ut prosciutto pork loin deserunt capicola in. Ex anim beef ribs, cupidatat ullamco et shoulder leberkas turkey aliqua minim jerky shank tempor ribeye. Beef ribs nisi brisket sirloin. Salami quis fugiat culpa sunt tongue. Nisi sunt ribeye in. Pork belly pastrami aliqua occaecat. Flank exercitation ribeye sausage tail beef ribs magna aliqua bacon pig boudin. Officia ad ut rump aliquip meatball. Flank laborum drumstick ut short loin. Filet mignon pig capicola tongue shankle. T-bone beef ribs swine esse shoulder pig salami dolore in turkey veniam aliquip cow voluptate. Ball tip tri-tip consequat pig officia pork chop tongue pork loin jerky, rump flank. Flank consectetur id ut. Boudin chicken meatball leberkas filet mignon id.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
