<div class="row">
  <div class="large-12">
    <h1>Orbit</h1>
  </div>
</div>
<div class="row">
  <div class="large-3 small-3">
    Simple Slider
  </div>
  <div class="large-9 small-9">
    <ul data-fndtn-orbit>
      <li><img src="http://placehold.it/900x300&text=Slide 1" /></li>
      <li><img src="http://placehold.it/900x300&text=Slide 2" /></li>
      <li><img src="http://placehold.it/900x300&text=Slide 3" /></li>
    </ul>
  </div>
</div>