<% @page_title = "Panels" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4">
    <a name="panels"></a>
    <h4>Panels</h4>
    <p>A panel is a simple, helpful css class that enables you to outline sections of your page easily. This allows you to view your page sections as you add content to them, or add emphasis to a section. There are two styles built in, and they support a class of <code>.radius</code> to round them off.</p>
  </div>
  <br><br>
  <div class="large-8">
    <div class="row">
      <div class="large-6">
        <div class="panel">
          <h5>This is a regular panel.</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
      </div>
      <div class="large-6">
        <div class="panel callout radius">
          <h5>This is a callout panel.</h5>
          <p>It's a little ostentatious, but useful for important content.</p>
        </div>
      </div>
    </div>
  </div>
</div>