<% @page_title = "Pricing Tables" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4">
    <a name="pricing-tables"></a>
    <h4>Pricing Tables</h4>
    <p>We've created a simple structure that will help you quickly style a set of pricing tables using the grid.</p>
  </div>
  <div class="large-8">
    <div class="row">
      <div class="large-4">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">$99.99</li>
          <li class="description">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus sit amet.
          </li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button">
            <a class="button" href="#">Buy it Now &raquo;</a>
          </li>
        </ul>
      </div>
      <div class="large-4">
        <ul class="pricing-table">
          <li class="title">Premium</li>
          <li class="price">$199.99</li>
          <li class="description">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius.
          </li>
          <li class="bullet-item">2 Database</li>
          <li class="bullet-item">10GB Storage</li>
          <li class="bullet-item">40 Users</li>
          <li class="cta-button">
            <a class="button" href="#">Buy it Now &raquo;</a>
          </li>
        </ul>
      </div>
      <div class="large-4">
        <div class="pricing-table">
          <div class="title">Executive</div>
          <div class="price">$999.99</div>
          <div class="description">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit.
          </div>
          <div class="bullet-item">Unlimited Database</div>
          <div class="bullet-item">Unlimited Storage</div>
          <div class="bullet-item">Unlimited Users</div>
          <div class="cta-button">
            <a class="button" href="#">Buy it Now &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>