<% @page_title = "Progress Bars" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4">
    <a name="progress-bars"></a>
    <h4>Progress Bars</h4>
    <p>A simple way to add a progress bar to your layout. You can edit the border radius by adding a class of <code>.radius</code> or <code>.round</code>. You can change the color by adding the classes <code>.secondary</code>, <code>.success</code>, or <code>.alert</code>. If you want to adjust the length, just use a number class. For example <code>class="progress four"</code> will make the progress bar 33% wide.</p>
  </div>
  <br>
  <div class="large-8">
    <br>
    <div class="progress six"><span class="meter"></span></div>
    <div class="radius progress success eight"><span class="meter"></span></div>
    <div class="nice round progress alert ten"><span class="meter"></span></div>
    <div class="nice secondary progress"><span class="meter"></span></div>
  </div>
</div>
