<% @page_title = "Side Nav" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <a name="side-nav"></a>
    <h4>Side Nav</h4>
    <p>Side nav, like you'll see on the Foundation main site, is useful for sections either of a site or of the page.</p>
  </div>
  <div class="large-4 columns end">
    <ul class="side-nav">
      <li class="active"><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li class="divider"></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
</div>