<% @page_title = "Split Buttons" %>
<div class="row">
  <div class="large-12">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12">

    <a href="#" class="large button split">Split Button <span></span></a><br>
    <a href="#" class="button secondary split">Split Button <span></span></a><br>
    <a href="#" class="small alert button split">Split Button <span></span></a><br>
    <a href="#" class="tiny success button split">Split Button <span></span></a><br>
    <a href="#" class="tiny button split expand">Split Button <span></span></a><br>

  </div>
</div>