<% @page_title = "Sub Nav" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <a name="sub-nav"></a>
    <h4>Sub Nav</h4>
    <p>This simple subnav is great for moving between different states of a page.</p>
  </div>
  <br>
  <div class="eight columns">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Active</a></dd>
      <dd><a href="#">Pending</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
</div>