<% @page_title = "Switch" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-12">

    <h3>Switches</h3>
      <h4 class="subheader">Switches can be used instead of regular radio buttons, to switch between two or more options. They are very customizable and use styles from other components such as buttons or panels. </h4>
      <br>

      <div class="row">
        <div class="large-4">
          <a name="sizes"></a>
          <h4>Sizes</h4>
          <p>The switches include the same size styles as buttons, so you can add the additional <code>.tiny</code>, <code>.small</code> or <code>.large</code> classes to change the regular size of the switch. </p>
        </div>
        <br>

        <div class="large-8">

          <div class="row">
            <label>Tiny switch: </label>

            <div class="switch panel tiny">
              <input id="o11" name="switch-tiny" type="radio" checked>
              <label for="o11" onclick="">Option 1</label>

              <input id="o12" name="switch-tiny" type="radio">
              <label for="o12" onclick="">Option 2</label>

              <span class="slide-button button"></span>
            </div>
          </div>

          <div class="row">
            <label>Small switch: </label>

            <div class="switch panel small">
              <input id="o21" name="switch-small" type="radio" checked>
              <label for="o21" onclick="">Option 1</label>

              <input id="o22" name="switch-small" type="radio">
              <label for="o22" onclick="">Option 2</label>

              <span class="slide-button button"></span>
            </div>
          </div>

          <div class="row">
            <label>Regular switch: </label>

            <div class="switch panel">
              <input id="o31" name="switch" type="radio" checked>
              <label for="o31" onclick="">Option 1</label>

              <input id="o32" name="switch" type="radio">
              <label for="o32" onclick="">Option 2</label>

              <span class="slide-button button"></span>
            </div>
          </div>

          <div class="row">
            <label>Large switch: </label>

            <div class="switch panel large">
              <input id="o41" name="switch-large" type="radio" checked>
              <label for="o41" onclick="">Option 1</label>

              <input id="o42" name="switch-large" type="radio">
              <label for="o42" onclick="">Option 2</label>

              <span class="slide-button button"></span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="large-4">
          <a name="styles"></a>
          <h4>Styles</h4>
          <p>Switches use styles from other components, so you can use the classes from buttons, alerts or panels, among others. </p>
        </div>
        <br>

        <div class="large-8">

          <div class="row">
            <label>Secondary switch: </label>

            <div class="switch panel">
              <input id="o51" name="switch-secondary" type="radio" checked>
              <label for="o51" onclick="">Option 1</label>

              <input id="o52" name="switch-secondary" type="radio">
              <label for="o52" onclick="">Option 2</label>

              <span class="slide-button button secondary"></span>
            </div>
          </div>

          <div class="row">
            <label>Success switch: </label>

            <div class="switch panel">
              <input id="o61" name="switch-success" type="radio" checked>
              <label for="o61" onclick="">Option 1</label>

              <input id="o62" name="switch-success" type="radio">
              <label for="o62" onclick="">Option 2</label>

              <span class="slide-button button success"></span>
            </div>
          </div>

          <div class="row">
            <label>Alert switch: </label>

            <div class="switch panel">
              <input id="o71" name="switch-alert" type="radio" checked>
              <label for="o71" onclick="">Option 1</label>

              <input id="o72" name="switch-alert" type="radio">
              <label for="o72" onclick="">Option 2</label>

              <span class="slide-button button alert"></span>
            </div>
          </div>

          <div class="row">
            <label>Radius switch: </label>

            <div class="switch panel">
              <input id="o91" name="switch-radius" type="radio" checked>
              <label for="o91" onclick="">Option 1</label>

              <input id="o92" name="switch-radius" type="radio">
              <label for="o92" onclick="">Option 2</label>

              <span class="slide-button button radius"></span>
            </div>
          </div>

          <div class="row">
            <label>Invert switch: </label>

            <div class="switch panel callout radius">
              <input id="o141" name="switch-invert" type="radio" checked>
              <label for="o141" onclick="">Option 1</label>

              <input id="o142" name="switch-invert" type="radio">
              <label for="o142" onclick="">Option 2</label>

              <span class="slide-button button radius"></span>
            </div>
          </div>

          <div class="row">
            <label>Round switch: </label>

            <div class="switch button secondary round">
              <input id="o101" name="switch-round" type="radio" checked>
              <label for="o101" onclick="">Option 1</label>

              <input id="o102" name="switch-round" type="radio">
              <label for="o102" onclick="">Option 2</label>

              <span class="slide-button button round"></span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="large-4">
          <a name="multiple-states"></a>
          <h4>Multiple States</h4>
          <p>You can add up to five options in a switch, using the <code>.switch-3</code>, <code>.switch-4</code> or <code>.switch-5</code> classes. If you've got more than five options, it's probably best to use other forms of interaction. </p>
        </div>
        <br>

        <div class="large-8">

          <div class="row">
            <label>Three-state switch: </label>

            <div class="switch-3 panel">
              <input id="o111" name="switch-three" type="radio" checked>
              <label for="o111" onclick="">Option 1</label>

              <input id="o112" name="switch-three" type="radio">
              <label for="o112" onclick="">Option 2</label>

              <input id="o113" name="switch-three" type="radio">
              <label for="o113" onclick="">Option 3</label>

              <span class="slide-button button"></span>
            </div>
          </div>

          <div class="row">
            <label>Four-state switch: </label>

            <div class="switch-4 panel">
              <input id="o121" name="switch-four" type="radio" checked>
              <label for="o121" onclick="">Option 1</label>

              <input id="o122" name="switch-four" type="radio">
              <label for="o122" onclick="">Option 2</label>

              <input id="o123" name="switch-four" type="radio">
              <label for="o123" onclick="">Option 3</label>

              <input id="o124" name="switch-four" type="radio">
              <label for="o124" onclick="">Option 4</label>

              <span class="slide-button button"></span>
            </div>
          </div>

          <div class="row">
            <label>Five-state switch: </label>

            <div class="switch-5 panel">
              <input id="o131" name="switch-five" type="radio" checked>
              <label for="o131" onclick="">Option 1</label>

              <input id="o132" name="switch-five" type="radio">
              <label for="o132" onclick="">Option 2</label>

              <input id="o133" name="switch-five" type="radio">
              <label for="o133" onclick="">Option 3</label>

              <input id="o134" name="switch-five" type="radio">
              <label for="o134" onclick="">Option 4</label>

              <input id="o135" name="switch-five" type="radio">
              <label for="o135" onclick="">Option 5</label>

              <span class="slide-button button"></span>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>
