<% @page_title = "Thumbnails" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Blah</h4>
  </div>
</div>

<div class="row">
  <div class="large-4">
    <a name="thumbs"></a>
    <h4>Image Thumbnails</h4>
    <p>When you need an image thumbnail that is slightly more styled than just a plain old image.</p>
  </div>
  <div class="small-6 large-4">
    <a class="th" href="#"><img src="http://placehold.it/350x200"></a>
  </div>
  <div class="small-5 large-4">
    <a class="th" href="#"><img src="http://placehold.it/350x200"></a>
  </div>
</div>