<% @page_title = "Thumbnails" %>
<div class="row">
  <div class="large-12 columns">
    <p><a href="/">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">If you are going to use an image as an anchor, we've got you covered. All you've gotta do is wrap an <code>a.th</code> around your image and viola!</h4>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">

    <a class="th" href="../img/demos/demo1.png"><img src="../img/demos/demo1-th.png"></a>

    <hr>

    <h3>Building With Predefined HTML Class</h3>
    <p>We make it really easy to create thumbnails links out of images. Simply wrap your <code>&lt;img&gt;</code> inside a <code>&lt;a class="th"&gt;</code> and you'r good to go! You may alternately choose to add a class of <code>.radius</code> to give it a neat little border-radius.</p>

<%= code_example '
<a class="th radius" href="../img/demos/demo2.png">
  <img src="../img/demos/demo2-th.png">
</a>', :html %>

    <a class="th radius" href="../img/demos/demo2.png"><img src="../img/demos/demo2-th.png"></a>

  </div>
</div>