<% @page_title = "Typography" %>
<div class="row">
  <div class="large-12">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Foundation 4 typography is built with ems, making it easier to fine-tune your type across different breakpoints. By default, we include a single breakpoint in typography sizes and styles, but you can add more if you'd like.</h4>
  </div>
</div>


<div class="row">
  <div class="large-12">
    <a name="headers"></a>
    <h4>General Typography</h4>
    <p>These are the basic elements of typography and rhythm in Foundation 3.</p>
    <h1>h1. This is a very large header.</h1>
    <h2>h2. This is a large header.</h2>
    <h3>h3. This is a medium header.</h3>
    <h4>h4. This is a moderate header.</h4>
    <h5>h5. This is a small header.</h5>
    <h6>h6. This is a tiny header.</h6>

    <p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, let's see&#8230; did you know that there are storms occurring on Jupiter that are larger than the Earth? That's pretty cool.</p>

    <h4>Header Styles</h4>
    <p>Optional Subheader Styles</p>

    <h2>This is a very large main header.</h2>
    <h4 class="subheader">This is a smaller subheader.</h4>

    <h3>This is a large header. <small>This is a small segment of that header.</small></h3>


    <a name="links"></a>
    <h4>Links</h4>
    <p>Links are very standard, and the color is preset.</p>

    <h2><a href="#">This is a header link.</a></h2>
    <h3><a href="#">This is a header link.</a></h3>
    <h4><a href="#">This is a header link.</a></h4>
    <h5><a href="#">This is a header link.</a></h5>
    <p><a href="#">This is a standard inline paragraph link.</a></p>


    <a name="lists"></a>
    <h4>Lists</h4>
    <p>Lists are helpful for, well, lists of things.</p>

    <h6>ul.disc</h6>
    <ul class="disc">
      <li>List item with a much longer description or more content.</li>
      <li>List item</li>
      <li>List item
        <ul>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
        </ul>
      </li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
    <br>

    <h6>ul.circle</h6>
    <ul class="circle">
      <li>List item with a much longer description or more content.</li>
      <li>List item</li>
      <li>List item
        <ul>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
        </ul>
      </li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>
    <br>

    <h6>ul.square</h6>
    <ul class="square">
      <li>List item with a much longer description or more content.</li>
      <li>List item</li>
      <li>List item
        <ul>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
          <li>Nested List Item</li>
        </ul>
      </li>
      <li>List item</li>
      <li>List item</li>
      <li>List item</li>
    </ul>


    <a name="blockquotes"></a>
    <h4>Blockquotes</h4>
    <p>Sometimes other people say smart things, and you may want to mention that through a blockquote callout. We've got you covered.</p>

    <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>


    <h4>V-Cards</h4>
    <p>Here's a handy microformat-friendly list to <em>address</em> all your needs.</p>

    <ul class="vcard">
      <li class="fn">Gaius Baltar</li>
      <li class="street-address">123 Colonial Ave.</li>
      <li class="locality">Caprica City</li>
      <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
      <li class="email"><a href="#">g.baltar@cmail.com</a></li>
    </ul>

  </div>
</div>
