// Make sure to run 'gem install compass' from command line first.
@import "compass/css3";
@import "settings";
@import "foundation/components/global.scss";

// Global options
$alert-panel-margin-bottom: 1.5em;
$alert-panel-border-radius: 3px;

// Title area Close "X" Button
$alert-panel-close-bg: lighten($primary-color, 15%);
$alert-panel-close-bg-hover: darken($primary-color, 10%);
$alert-panel-close-border: solid 1px darken($primary-color, 10%);
$alert-panel-close-border-hover: solid 1px darken($primary-color, 10%);
$alert-panel-close-padding: 0px 12px .25em;
$alert-panel-close-height: 0;
$alert-panel-close-font-size: .8em;
$alert-panel-close-font-weight: bold;
$alert-panel-close-color: darken($primary-color, 10%);
$alert-panel-close-color-hover: lighten($primary-color, 40%);
$alert-panel-close-transition: "all, 300ms";

// Title area options
$alert-panel-title-bg: $primary-color;
$alert-panel-title-border: solid 1px darken($primary-color, 10%);
$alert-panel-title-color: darken($primary-color, 35%);
$alert-panel-title-font-size: 1.5em;
$alert-panel-title-font-weight: bold;
$alert-panel-title-line-height: 1.3em;
$alert-panel-title-padding: 10px 34px 10px 10px;

// Message area options
$alert-panel-message-bg: #fff;
$alert-panel-message-border: solid 1px $primary-color;
$alert-panel-message-padding: 20px;
$alert-panel-message-line-height: 1.3;
$alert-panel-message-font-size: 1em;
$alert-panel-message-color: #222;
$alert-panel-message-font-weight: normal;

// Action area options
$alert-panel-action-bg: lighten($primary-color, 45%);
$alert-panel-action-border: solid 1px lighten($primary-color, 15%);
$alert-panel-action-padding: 10px;
$alert-panel-action-align: right;

// Secondary variables
$alert-panel-close-bg-secondary: lighten($secondary-color, 5%);
$alert-panel-close-bg-hover-secondary: darken($secondary-color, 15%);
$alert-panel-close-border-secondary: solid 1px darken($secondary-color, 10%);
$alert-panel-close-border-hover-secondary: solid 1px darken($secondary-color, 15%);
$alert-panel-close-color-secondary: darken($secondary-color, 15%);
$alert-panel-close-color-hover-secondary: lighten($secondary-color, 35%);
$alert-panel-title-bg-secondary: $secondary-color;
$alert-panel-title-border-secondary: solid 1px darken($secondary-color, 15%);
$alert-panel-title-color-secondary: darken($secondary-color, 45%);
$alert-panel-message-border-secondary: solid 1px darken($secondary-color, 10%);
$alert-panel-action-bg-secondary: lighten($secondary-color, 5%);
$alert-panel-action-border-secondary: solid 1px darken($secondary-color, 5%);

// Success variables
$alert-panel-close-bg-success: lighten($success-color, 15%);
$alert-panel-close-bg-hover-success: darken($success-color, 10%);
$alert-panel-close-border-success: solid 1px darken($success-color, 10%);
$alert-panel-close-border-hover-success: solid 1px darken($success-color, 10%);
$alert-panel-close-color-success: darken($success-color, 10%);
$alert-panel-close-color-hover-success: lighten($success-color, 40%);
$alert-panel-title-bg-success: $success-color;
$alert-panel-title-border-success: solid 1px darken($success-color, 10%);
$alert-panel-title-color-success: darken($success-color, 35%);
$alert-panel-message-border-success: solid 1px $success-color;
$alert-panel-action-bg-success: lighten($success-color, 45%);
$alert-panel-action-border-success: solid 1px lighten($success-color, 15%);

// Alert variables
$alert-panel-close-bg-alert: lighten($alert-color, 15%);
$alert-panel-close-bg-hover-alert: darken($alert-color, 10%);
$alert-panel-close-border-alert: solid 1px darken($alert-color, 10%);
$alert-panel-close-border-hover-alert: solid 1px darken($alert-color, 10%);
$alert-panel-close-color-alert: darken($alert-color, 10%);
$alert-panel-close-color-hover-alert: lighten($alert-color, 40%);
$alert-panel-title-bg-alert: $alert-color;
$alert-panel-title-border-alert: solid 1px darken($alert-color, 10%);
$alert-panel-title-color-alert: darken($alert-color, 35%);
$alert-panel-message-border-alert: solid 1px $alert-color;
$alert-panel-action-bg-alert: lighten($alert-color, 45%);
$alert-panel-action-border-alert: solid 1px lighten($alert-color, 15%);


.alert-panel {
  margin-bottom: $alert-panel-margin-bottom;
  line-height: $alert-panel-title-line-height;

  // Reset some margins to avoid annoyance
  p,a,h1,h2,h3,h4,h5,h6 { margin-bottom: 0; margin-top: 0; }
}

.alert-panel-title {
  background-color: $alert-panel-title-bg;
  border: $alert-panel-title-border;
  @include border-top-radius($alert-panel-border-radius);
  font-size: $alert-panel-title-font-size;
  color: $alert-panel-title-color;
  font-weight: $alert-panel-title-font-weight;
  line-height: $alert-panel-title-line-height;
  position: relative;
  padding: $alert-panel-title-padding;
  display: block;

  // Optional Style Classes
  .alert-panel.secondary & {
    background-color: $alert-panel-title-bg-secondary;
    border: $alert-panel-title-border-secondary;
    color: $alert-panel-title-color-secondary;
  }
  .alert-panel.success & {
    background-color: $alert-panel-title-bg-success;
    border: $alert-panel-title-border-success;
    color: $alert-panel-title-color-success;
  }
  .alert-panel.alert & {
    background-color: $alert-panel-title-bg-alert;
    border: $alert-panel-title-border-alert;
    color: $alert-panel-title-color-alert;
  }
}

.alert-panel-close {
  background-color: $alert-panel-close-bg;
  border-bottom: $alert-panel-close-border;
  border-left: $alert-panel-close-border;
  @include border-top-right-radius($alert-panel-border-radius - 1px);
  @include border-bottom-left-radius($alert-panel-border-radius - 1px);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: $alert-panel-close-padding;
  line-height: $alert-panel-close-height - 4px;
  font-size: $alert-panel-close-font-size;
  font-weight: $alert-panel-close-font-weight;
  color: $alert-panel-close-color;
  @include transition(#{$alert-panel-close-transition});

  &:hover,
  &:active {
    background-color: $alert-panel-close-bg-hover;
    border-bottom: $alert-panel-close-border-hover;
    border-left: $alert-panel-close-border-hover;
    color: $alert-panel-close-color-hover;
  }

  // Optional Style Classes
  .alert-panel.secondary & {
    background-color: $alert-panel-close-bg-secondary;
    border-bottom: $alert-panel-close-border-secondary;
    border-left: $alert-panel-close-border-secondary;
    color: $alert-panel-close-color-secondary;

    &:hover,
    &:active {
      background-color: $alert-panel-close-bg-hover-secondary;
      border-bottom: $alert-panel-close-border-hover-secondary;
      border-left: $alert-panel-close-border-hover-secondary;
      color: $alert-panel-close-color-hover-secondary;
    }
  }
  .alert-panel.success & {
    background-color: $alert-panel-close-bg-success;
    border-bottom: $alert-panel-close-border-success;
    border-left: $alert-panel-close-border-success;
    color: $alert-panel-close-color-success;

    &:hover,
    &:active {
      background-color: $alert-panel-close-bg-hover-success;
      border-bottom: $alert-panel-close-border-hover-success;
      border-left: $alert-panel-close-border-hover-success;
      color: $alert-panel-close-color-hover-success;
    }
  }
  .alert-panel.alert & {
    background-color: $alert-panel-close-bg-alert;
    border-bottom: $alert-panel-close-border-alert;
    border-left: $alert-panel-close-border-alert;
    color: $alert-panel-close-color-alert;

    &:hover,
    &:active {
      background-color: $alert-panel-close-bg-hover-alert;
      border-bottom: $alert-panel-close-border-hover-alert;
      border-left: $alert-panel-close-border-hover-alert;
      color: $alert-panel-close-color-hover-alert;
    }
  }
}

.alert-panel-message {
  background: $alert-panel-message-bg;
  border-left: $alert-panel-message-border;
  border-right: $alert-panel-message-border;
  padding: $alert-panel-message-padding;
  line-height: $alert-panel-message-line-height;

  // Optional Style Classes
  .alert-panel.secondary & {
    border-left: $alert-panel-message-border-secondary;
    border-right: $alert-panel-message-border-secondary;
  }
  .alert-panel.success & {
    border-left: $alert-panel-message-border-success;
    border-right: $alert-panel-message-border-success;
  }
  .alert-panel.alert & {
    border-left: $alert-panel-message-border-alert;
    border-right: $alert-panel-message-border-alert;
  }
}

.alert-panel-action {
  background: $alert-panel-action-bg;
  border: $alert-panel-action-border;
  @include border-bottom-radius($alert-panel-border-radius);
  padding: $alert-panel-action-padding;
  text-align: $alert-panel-action-align;

  // Optional Style Classes
  .alert-panel.secondary & {
    background: $alert-panel-action-bg-secondary;
    border: $alert-panel-action-border-secondary;
  }
  .alert-panel.success & {
    background: $alert-panel-action-bg-success;
    border: $alert-panel-action-border-success;
  }
  .alert-panel.alert & {
    background: $alert-panel-action-bg-alert;
    border: $alert-panel-action-border-alert;
  }
}