// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
//
// RENAME THIS TO _foundation-global.scss ONCE ALL THE OLD VARIABLES ARE OUT OF THE FILE.
@import "foundation/foundation-global";

// Foundation Components
@import
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";



