@import "foundation";
//@import "compass/css3";
@mixin box-shadow(
  $shadow-1 : default,
  $shadow-2 : false,
  $shadow-3 : false,
  $shadow-4 : false,
  $shadow-5 : false,
  $shadow-6 : false,
  $shadow-7 : false,
  $shadow-8 : false,
  $shadow-9 : false,
  $shadow-10: false
) {}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: em-calc(14);
} 

// Docs Components
@import
  "syntax-highlighting",
  "sidebar",
  "offcanvas",
  "zurb-footer";


// Docs Styles


.section-header {
  padding: 24px 0;
}



.code-container { position: relative; }
.code-container .button { 
  position: absolute; 
  top: 25px; 
  right: 10px; 
}

footer { margin-top: 45px; }




#appHeader { background: $primary-color; }



#appHeader a.sidebar-button span {
  @include box-shadow(-15px 0 2px #fff, -6px 0 2px #fff, 3px 0 2px #fff);
}

