@import "foundation";
//@import "compass/css3";
@mixin box-shadow(
  $shadow-1 : default,
  $shadow-2 : false,
  $shadow-3 : false,
  $shadow-4 : false,
  $shadow-5 : false,
  $shadow-6 : false,
  $shadow-7 : false,
  $shadow-8 : false,
  $shadow-9 : false,
  $shadow-10: false
) {}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: em-calc(14);
} 

// Docs Components
@import
  "syntax-highlighting",
  "sidebar",
  "offcanvas",
  "zurb-footer";


// Docs Styles


.section-header {
  padding: 24px 0;
}



.code-container { position: relative; }
.code-container .button { 
  position: absolute; 
  top: 25px; 
  right: 10px; 
}

footer { margin-top: 45px; }




#appHeader { background: $primary-color; }



#appHeader a.sidebar-button span {
  @include box-shadow(-15px 0 2px #fff, -6px 0 2px #fff, 3px 0 2px #fff);
}


/* Syntax Highlighting */
.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */



// Docs Styles
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$row-width: emCalc(1100);
$column-gutter: emCalc(22);

.section-header {
  padding: 24px 0;
}

.sidebar.fixed,
[data-magellan-expedition] {
  min-width: 250px !important;
  max-width: 250px;
  width: 250px;
  left: auto !important;

}
.side-nav .heading { text-transform: uppercase; }
[data-magellan-expedition] { padding:0 !important; }
.side-nav li a,
.side-nav .heading,
.sidebar form { 
  padding: 4px 20px;
}

.side-nav li.divider { margin: 11px 20px; }

// .sidebar {
//   #{headings(all)} { padding: 4px 20px; }
// }
.sidebar .button { margin: 0 20px 20px; }

.side-nav li.active a,
.side-nav li a:hover { border-left: 3px solid darken($secondary-color, 20%); padding-left: 17px; }
[data-magellan-expedition] { overflow-y: scroll; }
.sidebar form { margin-bottom: 0; }

.code-container { position: relative; }
.code-container .button { position: absolute; top: 25px; right: 10px; }

footer { margin-top: 45px; }

.magellan-fixed {
&.magellan-outer-wrapper {position:fixed; top:0px; overflow:hidden; height:100%; width:inherit;}
.magellan-inner-wrapper {overflow:scroll; height:100%;}
}

.zurb-jobs {
  padding: 0 20px 200px;
  h6 { 
    padding:0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 8px;
  }
  ul {
    list-style: none;
    li { margin-bottom: 10px;}
  }
  .location { display: block; font-size: 12px; color: #666; }
}
.fader {
  position: fixed;
  z-index: 400;
  bottom: 0;
  width: 250px;
}

#appHeader { background: $primary-color; }


// #appHeader a.sidebar-button span {
//   @include box-shadow(-15px 0 2px #fff, -6px 0 2px #fff, 3px 0 2px #fff);
// }

