// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/foundation-global";

// Foundation Components
@import "foundation/foundation-components";
