@function font-url($pth) {
  @return unquote("url(../fonts/#{$pth})");
}

@font-face {
    font-family: 'open_sanslight';
    src: font-url('OpenSans-Light-webfont.eot');
    src: font-url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Light-webfont.woff') format('woff'),
         font-url('OpenSans-Light-webfont.ttf') format('truetype'),
         font-url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: font-url('OpenSans-LightItalic-webfont.eot');
    src: font-url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-LightItalic-webfont.woff') format('woff'),
         font-url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: font-url('OpenSans-Regular-webfont.eot');
    src: font-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Regular-webfont.woff') format('woff'),
         font-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         font-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_italic';
    src: font-url('OpenSans-Italic-webfont.eot');
    src: font-url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Italic-webfont.woff') format('woff'),
         font-url('OpenSans-Italic-webfont.ttf') format('truetype'),
         font-url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: font-url('OpenSans-Bold-webfont.eot');
    src: font-url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Bold-webfont.woff') format('woff'),
         font-url('OpenSans-Bold-webfont.ttf') format('truetype'),
         font-url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: font-url('OpenSans-BoldItalic-webfont.eot');
    src: font-url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         font-url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}