//
// @name _global.scss
// @dependencies n/a
//


//
// @mixins
//

@mixin proxima-nova() {

}

@mixin proxima-nova-condensed() {

}

@mixin clearfix {}
// https://github.com/hcatlin/libsass/issues/72
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: unquote("alpha(opacity=#{$opacity * 100})");
}

//
// @functions
//

@function image-url($pth) {
  @return unquote("url(../img/#{$pth})");
}
@function font-url($pth) {
  @return unquote("url(../fonts/#{$pth})");
}

//
// @variables
//

$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
$rem-base: 18;
// $topbar-arrows: false;



