//
// @name _global.scss
// @dependencies n/a
//

//
// @mixins
//

// Outputs opacity along with an IE8-friendly filter opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: unquote("alpha(opacity=#{$opacity * 100})");
}

@mixin box-shadow (
  $shadow-1 : default,
  $shadow-2 : false,
  $shadow-3 : false,
  $shadow-4 : false,
  $shadow-5 : false,
  $shadow-6 : false,
  $shadow-7 : false,
  $shadow-8 : false,
  $shadow-9 : false,
  $shadow-10: false
) { }

@mixin border-direction(
  $direction: top,
  $style: solid,
  $width: 2px,
  $color: darken($panel-bg-color, 1%)) {
  border-#{$direction}: #{$style} #{$width} #{$color};
}

@mixin border(
  $style:solid,
  $width:2px,
  $color:darken($panel-bg-color, 1%)) {
  border: #{$style} #{$width} #{$color};
}

//
// @functions
//

@function image-url($pth) {
  @return unquote("url(../img/#{$pth})");
}

@function font-url($pth) {
  @return unquote("url(../fonts/#{$pth})");
}

//
// @variables
//

$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
$rem-base: 18;
// $topbar-arrows: false;
// $text-direction: rtl;
