@import "global";
@import "foundation";
@import "code";
@import "footer";

@mixin box-shadow(
  $shadow-1 : default,
  $shadow-2 : false,
  $shadow-3 : false,
  $shadow-4 : false,
  $shadow-5 : false,
  $shadow-6 : false,
  $shadow-7 : false,
  $shadow-8 : false,
  $shadow-9 : false,
  $shadow-10: false
) { }

@mixin border-direction($direction:top,
                        $style:solid,
                        $width:2px,
                        $color:darken($panel-bg-color, 1%)) {
  border-#{$direction}: #{$style} #{$width} #{$color};
}

@mixin border($style:solid,
              $width:2px,
              $color:darken($panel-bg-color, 1%)) {
  border: #{$style} #{$width} #{$color};
}

body {
  //font-size: em-calc(14);
  //font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.row {
  max-width: emCalc(1440);
  .display {
    background: #eee;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 2em;
    border: solid 1px #c6c6c6;
    .columns {
      border-right: solid 1px #c6c6c6;
      &:nth-last-child {
        border-right: none;
      }
    }
  }
}

h3, h4, h5 { margin-top: 30px; }

.top30 { margin-top: 30px; }
.top20 { margin-top: 20px; }
.bottom30 { margin-top: 30px; }
.bottom20 { margin-top: 20px; }

hr.dashed { border-style: dashed; }

// Docs Components
@import
  "syntax-highlighting",
  "sidebar",
  "zurb-footer";


// Docs Styles

.section-header {
  h1 { border-bottom: 1px solid #ddd; }
  ul.inline-list {
    display: inline-block;
    position: absolute;
    top: 47px;
    right: 0.9375em;
  }
}

// Modified Panel
.easel {
  @include panel($bg:$panel-bg-color);
  @include border(solid, 1px, darken($panel-bg-color, 6%));
  @include radius();
}

// 12 column grid mixin (would be cool to implement with mixins where possible)
.full-grid {
  @include grid-column($columns:12);
  .panel {
    @extend .easel;
  }
}


.half-grid {
  @include grid-column($columns:6);

}

.code {
  @include grid-column($columns:7);
  padding-right: 0;
}

.options { @include grid-column($columns:5); }

.options-bg {
  padding: 18px;
  background-color: darken($panel-bg-color, 0%);
  @include border(solid, 1px, darken($panel-bg-color, 4%));
  border-radius: 4px;
  ul {
    margin-left: 20px;
  }
  dt { color: #008080; }
}

pre {
  code {
    .code-container {
      //@include border(solid, 1px, darken($panel-bg-color, 4%));
      //border-radius: 3px;
      //background-color: darken($panel-bg-color, 2%);
      margin: 10px 0px;
      padding: 5px;
      overflow-x: auto;
      line-height: 1.3em;
      font-weight: normal;
    }
  }
}


// .code-container {
//   background-color: darken($panel-bg-color, 2%);
//   overflow-x:auto;
//   position: relative;
//   @include border(solid, 1px, darken($panel-bg-color, 4%));
//   border-radius: 3px;
//   pre {
//     padding: 10px;
//     @include border-direction(bottom,solid,1px,darken($panel-bg-color, 6%));
//     background-color: darken($panel-bg-color, 0%);
//     line-height: 1.8em;
//     &:last-child {
//       border: none;
//     }
//     code {
//       background: none;
//     }
//   }
// }
//
// .code-container .button {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }

#masthead { @include grid-row; @include panel; max-width: none;
  hgroup { @include grid-column(4); }
  section { @include grid-column(8); }
}

footer { margin-top: 45px; }

#appHeader { background: $primary-color; }

#appHeader a.sidebar-button span {
  @include box-shadow(-15px 0 2px #fff, -6px 0 2px #fff, 3px 0 2px #fff);
}

// Examples
.example-orbit {}
.example-orbit-content li div {
  color:white;
  background:#2ba6cb;
  padding:30px 40px;
  h1,h2,h3 {color:white;}
}