// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/

  @mixin clearfix() { *zoom:1;
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
  }
  
  @mixin mobileClearfix() {
    @include respondTo(smallScreen) { &:before, &:after { content: " "; display: table; }
      &:after { clear: both; }
      &:last-child { float: none; }
    }
  }