.tabs { @include clearfix; margin-bottom: 0; 
	dd { float: left; background: #efefef; margin-bottom: 0; position: relative; top: 1px; border: 1px solid #efefef; 
		&.active { background: #fff; border-bottom: 1px solid #fff; }
		&:hover { background: #e4e4e4; }
		> a { color: #222; padding: .75em 2em; display: block; font-family: "open_sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 1em; }
	}
	
	&.vertical { width: 20%; float: left; margin-bottom: 1.25em;
		dd { float: none; top: 0px; }
	}
	
	&.accordion {
		dd { float: none; display: block; border-bottom: 1px solid #fff; }
		div.content { display: none; padding: 1em 2em; 
			&.active { display: block; background: #fff; }
		}
	}
}

.tabs-content { @include clearfix; margin-bottom: 1.25em;
	> .content { display: none; float: left; padding: 1em 1.35em; border: 1px solid #efefef; 
		&.active { display: block; }
		p { margin-bottom: 0; }
	}
	&.vertical {
		width: 80%; float: left; margin-left: -1px;
	}
}


@media #{$small-only} {	
	.tabs dd a { font-size: .85em; padding: .75em 1em; }
}
