// Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/

//
// Flex Video Variables
//
// We use these to control video contianer padding and margins
$flex-video-padding-top: emCalc(25px);
$flex-video-padding-bottom: 67.5%;
$flex-video-margin-bottom: emCalc(16px);

// We use this to control widescreem bottom padding
$flex-video-widescreen-padding-bottom: 57.25%;

@mixin flex-video-container {
  position: relative;
  padding-top: $flex-video-padding-top;
  padding-bottom: $flex-video-padding-bottom;
  height: 0;
  margin-bottom: $flex-video-margin-bottom;
  overflow: hidden;
  
  &.widescreen { padding-bottom: $flex-video-widescreen-padding-bottom; }
  &.vimeo { padding-top: 0; }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    #{$defaultFloat}: 0;
    width: 100%;
    height: 100%;
  }
}
@if $include-html-classes {
  /* Flex Video */
  .flex-video { @include flex-video-container; }
}