//
// Foundation Visibility Classes
//

/* Foundation Visibility HTML Classes */
@media only screen {
  .show-for-small,
  .show-for-medium-down,
  .show-for-large-down { display: inherit !important; }

  .show-for-medium,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge { display: none !important; }

  .hide-for-medium,
  .hide-for-medium-up,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge { display: inherit !important; }

  .hide-for-small,
  .hide-for-medium-down,
  .hide-for-large-down { display: none !important; }
}

/* Medium Displays: 768px - 1279px */
@media #{$small} {
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-large-down { display: inherit !important; }

  .show-for-small,
  .show-for-large,
  .show-for-large-up { display: none !important; }

  .hide-for-small,
  .hide-for-large,
  .hide-for-large-up { display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-large-down { display: none !important; }
}

/* Large Displays: 1280px - 1440px */
@media #{$medium} {
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-down,
  .show-for-large-up { display: inherit !important; }

  .show-for-small,
  .show-for-medium { display: none !important; }

  .hide-for-small,
  .hide-for-medium { display: inherit !important; }

  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-large,
  .hide-for-large-down,
  .hide-for-large-up { display: none !important; }

}

/* X-Large Displays: 1400px and up */
@media #{$large} {
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-large-down,
  .show-for-large-up { display: inherit !important; }

  .show-for-small,
  .show-for-medium,
  .show-for-large { display: none !important; }

  .hide-for-small,
  .hide-for-medium,
  .hide-for-large { display: inherit !important; }

  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-large-down,
  .hide-for-large-up { display: none !important; }
}


/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait { display: inherit !important; }
.hide-for-landscape,
.show-for-portrait { display: none !important; }

@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait { display: inherit !important; }
  .hide-for-landscape,
  .show-for-portrait { display: none !important; }
}

@media screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape { display: inherit !important; }
  .hide-for-portrait,
  .show-for-landscape { display: none !important; }
}

/* Touch-enabled device targeting */
.show-for-touch { display: none !important; }
.hide-for-touch { display: inherit !important; }
.touch .show-for-touch { display: inherit !important; }
.touch .hide-for-touch { display: none !important; }
