/*  Artfully masterminded by ZURB
    Make sure to include app.js / foundation.js if you are going to use inline label inputs
*/


/* -----------------------------------------
   Standard Forms
----------------------------------------- */

    form { 
        margin: 0 0 18px; 
        label { display: block; .font-size(13); line-height: 18px; cursor: pointer; margin-bottom: 9px; }
    }

    input.input-text, textarea { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; }
    input.input-text, textarea, select { display: block; margin-bottom: 9px; }
    label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }
    textarea { max-width: 100%; }

    /* Text input and textarea font and padding */
    input.input-text, textarea { 
        .font-size(13); padding: 4px 3px 2px; background: @white; 
        &:focus { outline: none !important; }
        &.oversize { font-size: 18px !important; font-size:1.8rem !important; padding: 4px 5px !important; }
        &:focus { background: #f9f9f9; }

        /* Text input and textarea, disabled */
        &[disabled] { background-color: #ddd; }

        /* Inlined Label Style */
        &.placeholder { color: #888; }

        /* Text input and textarea sizes */
        width: 254px; .box-sizing(border-box);
        &.small { width: 134px; }
        &.medium { width: 254px; }
        &.large { width: 434px; }
        &.expand { width: 100%; }
    }
    
    /* Lock textareas so they can't be resized beyond their set width in webkit */
    textarea.locked { 
        max-width: 254px; 
        &.small   { max-width: 134px; }
        &.large   { max-width: 434px; }
        &.expand  { max-width: 100%; }
    }

    /* Fieldsets */
    form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }

    /* Inlined Radio & Checkbox */
    .form-field input[type=radio], div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

    /* Errors */
    .form-field.error input, input.input-text.red { border-color: #C00000; background-color: rgba(255,0,0,0.15); }
    .form-field.error label, label.red { color: #C00000; }
    .form-field.error small, small.error { margin-top: -6px; display: block; margin-bottom: 9px; .font-size(11); color: #C00000; width: 254px; .box-sizing(border-box); }

    .small + small.error { width: 134px; }
    .medium + small.error { width: 254px; }
    .large + small.error { width: 434px; }
    .expand + small.error { width: 100%; }
    
    .small.oversize + small.error { width: 144px; }
    .medium.oversize + small.error { width: 264px; }
    .large.oversize + small.error { width: 444px; }
    .expand.oversize + small.error { width: 100%; }

    /* -----------------------------------------
       Nicer Forms
    ----------------------------------------- */
    form.nice {
        
        div.form-field input, input.input-text, textarea { 
            border: solid 1px #bbb; .round(2);
            .font-size(13); padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) @white;
            &:focus { background-color: #f9f9f9; }

            /* Text input and textarea, disabled */
            &[disabled] { background-color: #ddd; }
        }
        
        fieldset { .round(3); }
        
        div.form-field {
            input[type=radio], input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

        }

        div.form-field.error small, small.error { padding: 6px 4px; border: solid 0 #C00000; border-width: 0 1px 1px 1px; margin-top: -10px; background: #C00000; color: @white; .font-size(12); font-weight: bold; .border-radius(0, 0, 2, 2); }

        div.form-field.error .small + small, .small + small.error { width: 132px; }
        div.form-field.error .medium + small, .medium + small.error { width: 252px; }
        div.form-field.error .large + small, .large + small.error { width: 432px; }
        
        div.form-field.error .small.oversize + small, .small.oversize + small.error { width: 136px; }
        div.form-field.error .medium.oversize + small, .medium.oversize + small.error { width: 256px; }
        div.form-field.error .large.oversize + small, .large.oversize + small.error { width: 436px; }
    }

    /* -----------------------------------------
       Custom Forms
    ----------------------------------------- */

    form.custom {
        
        span.custom { 
            display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat; 
            &.radio { .round(7); }
            &.radio.checked { background-position: 0 -14px; }
            &.checkbox.checked { background-position: 0 -28px; }
        }
        
        div.custom.dropdown { 
            display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px; 
            a.current { display: block; width: auto; line-height: 26px; min-height: 26px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: @bBlack; background-color: @white; white-space: nowrap; }
            a.selector { position: absolute; width: 26px; height: 26px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 1px no-repeat; right: 0; top: 0; border: solid 1px #ddd; }
            &:hover a.selector,
            &.open a.selector { background-position: -14px -26px; }
            ul { 
                position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: @white; background: rgba(255,255,255,0.95); border: solid 1px #ddd; 
                li { 
                    cursor: pointer; padding: 3px 38px 3px 6px; min-height: 18px; margin: 0; white-space: nowrap
                    &.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
                    &:hover { background-color: @linkcol; color: @white; }
                    &.selected:hover { background: url(../images/misc/custom-form-sprites.png) @linkcol right -78px no-repeat; }
                }
                &.show { display: block; }
            }
            &.open ul { display: block; z-index: 10; }
            
            &.small { width: 134px !important; }
            &.medium { width: 254px !important; }
            &.large { width: 434px !important; }
            &.expand { width: 100% !important; }
            
            &.open.small ul { width: 132px !important; }
            &.open.medium ul { width: 252px !important; }
            &.open.large ul { width: 432px !important; }
            &.open.expand ul { width: 100% !important; .box-sizing(border-box); }
        }

        label + select + div.custom.dropdown > a.current { margin-top: -9px; }

        /* Custom input, disabled */
        .custom.disabled { background-color: #ddd; }
    }

    /* -----------------------------------------
       Nicer Custom Forms
    ----------------------------------------- */
    form.custom.nice {
        span.custom.checkbox { .round(2); }

        div.custom.dropdown {
            a.current { .round(2); background-image: url(../images/misc/input-bg-outset.png); background-position: bottom right; }
            a.selector { height: 27px; border-width: 0 0 0 1px; }
            ul { .border-radius(0, 0, 2, 2); }
        }
    }
