{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 9",
          "ios >= 7",
          "android >= 4.4"
        ]
      }
    }]
  ]
}
