{
	"plugins": [
  	"transform-es2015-arrow-functions",
  	"transform-es2015-block-scoped-functions",
  	"transform-es2015-block-scoping",
  	"transform-es2015-classes",
  	"transform-es2015-destructuring",
  	"transform-es2015-template-literals",
  	"transform-es2015-parameters",
		"transform-es2015-shorthand-properties",
  	"transform-es2015-spread",
  ]
}
