*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.scssc
*.sublime-*
.bundle
.config
.grunt
.idea
.sass-cache/*
.yardoc

bower_components
dist
/docs2/public/*
vendor
_yardoc
coverage
docs/public/*
InstalledFiles
lib/bundler/man
marketing/.sass-cache/*
node_modules
pkg
rdoc
spec/reports

test/
test/.sass-cache/*
test/css
test/css/styles.css
*.orig
node_modules
docs/public/*
*.scssc
*.rbenv-version
*.ruby-version
/docs2/public/*
.settings
.project
test/scss/output-test
test/tmp
test/version_tmp
tmp


pizza/
docs/*
