*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.scssc
*.sublime-*
*.swp
*.swo
.bundle
.config
.grunt
.idea
.sass-cache/*
.yardoc
_build

bower_components
bundle
build/*
/docs2/public/*
_yardoc
coverage
docs/public/*
InstalledFiles
lib/bundler/man
marketing/.sass-cache/*
node_modules
pkg
rdoc
spec/reports
npm-debug.log
_debug.json

*.orig
node_modules
docs/public/*
*.scssc
*.rbenv-version
*.ruby-version
/docs2/public/*
.settings
.project
test/scss/output-test
test/tmp
test/version_tmp
tmp
testing/_build

pizza/
data.json
docs/*
npm-debug.log
