*.gem
*.rbc
.bundle
.config
.grunt
.yardoc
.idea
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/
test/tmp
test/version_tmp
test/css
test/scss/output-test
vendor/
tmp
*.DS_Store
marketing/.sass-cache/*
.sass-cache/*
test/.sass-cache/*
test/css/styles.css
*.orig
node_modules
docs/public/*
*.scssc
*.rbenv-version
*.ruby-version
