# --- Documentation ---
./CONTRIBUTING.md
./code-of-conduct.md
./meteor-README.md
./docs

# --- Config ---
.babelrc
.browserslistrc
.commitlintrc.yml
.editorconfig
.eslintrc
.huskyrc.yml
.jshintrc
.sass-lint.yml
.travis.yml
.versions
bower.json
browserstack.json
composer.json
package.js
sache.json
webpack.config.js
yarn.lock
.github

# --- Development ---
./docslink.sh
./gulpfile.js
./config
./customizer
./gulp
./lib
./script
./spec
./test

# --- Git ignore ---
*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.scssc
*.sublime-*
*.swp
*.swo
.bundle
.config
.grunt
.idea
.sass-cache/*
.yardoc
_build
.customizer

bower_components
bundle
build/*
/docs2/public/*
_yardoc
coverage
docs/public/*
InstalledFiles
lib/bundler/man
marketing/.sass-cache/*
node_modules
pkg
rdoc
spec/reports
npm-debug.log
_debug.json

*.orig
node_modules
docs/public/*
*.scssc
*.rbenv-version
*.ruby-version
/docs2/public/*
.settings
.project
test/scss/output-test
test/tmp
test/version_tmp
tmp
testing/_build
test/javascript/js-tests.js

pizza/
data.json
npm-debug.log
foundation-docs
./vendor
