language: node_js

matrix:
  include:
  - node_js: "lts/boron"
    env: ZF_TRAVIS_COMMAND=test:javascript:units
  - node_js: "lts/carbon"
    env: ZF_TRAVIS_COMMAND=test:javascript:units
  - node_js: "stable"
    env: ZF_TRAVIS_COMMAND=test:javascript:units
  - node_js: "stable"
    env: ZF_TRAVIS_COMMAND=test:javascript:browserstack

install: npm install
script: npm run $ZF_TRAVIS_COMMAND

notifications:
  email: false
