// Component navigation menu seen on every page.

.docs-menu.menu {
  margin-top: 0.5rem;
  background: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li small {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60%;
    display: block;
    margin-top: 5px;
  }

  a {
    font-size: .85rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      background: rgba(#000, 0.05);
    }
  }

  .current a {
    background: rgba(#000, 0.05);
  }
}

.docs-menu-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #999;
  font-weight: bold;
  line-height: 1;
  padding-left: 0.9rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e9e9e9;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

.docs-version-number {
  padding-left: 0.9rem;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -0.5rem;
  margin-top: -0.4rem;
}

.docs-menu-ph {
  opacity: 0.5;
  pointer-events: none;
}

.docs-sub-menu {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.docs-toc {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $medium-gray;

  @include breakpoint(large) {
    display: block !important;
    border-bottom: 0;
  }

  .active {
    background: $primary-color;
    color: white;
  }

  .docs-sub-menu:first-child .docs-menu-title {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
}
