// Responsive newsletter callout above the footer.

.docs-newsletter {
  padding: 20px 0;
  background: #085a78;
  padding: 10px 0 10px 0;
  margin-top: 2rem;

  h5 {
    font-size: 20px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #fff;
    line-height: 24px;
  }

  p {
    clear: both;
    font-size: 13px;
    padding-top: 2px;
    color: #fff;
  }

  a {
    color: #fff;
  }

  .row.collapse form {
    input[type='text'] {
      font-size: 17px;
      font-weight: 200;
      color: #999;
      border: 0;
    }

    .button {
      border: 0;
      box-shadow: none;
      background: #257696;
    }

    .button:hover {
      background: #1b566d;
    }
  }
}
