$topbar-background: #121212;
$topbar-hover-color: darken($topbar-background, 20%);

.marketing-topbar {
  background: $topbar-background;
  font-size: rem-calc(13);
  font-weight: bold;
  z-index: 2;
  position: relative;

  @include clearfix;

  ul:first-child { float: left; }
  ul:last-child  { float: right; }

  .topbar-title > a {
    font-size: rem-calc(16);
    opacity: 0.9;

    > img {
      position: relative;
      top: -1px;
    }
  }

  .menu a {
    height: 45px;
    line-height: 45px !important;
    color: $light-gray;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &:hover:not(.button),
    &:focus {
      background: darken($topbar-background, 20%);
    }

    &.button {
      border-radius: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .title {
    color: $dark-gray;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: lighten($topbar-background, 10%);
  }

  .is-active a {
    background: darken($topbar-background, 20%);
  }

  // ZURB logo
  .menu img {
    position: relative;
    top: -2px;
  }

  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }

  .dropdown.menu .submenu {
    border: 0;
  }

  .is-down-arrow a {
    padding-right: 1rem !important;
  }

  .is-down-arrow a::after {
    display: none !important;
  }
}

.mobile-ofc {
  background: $topbar-background;
  font-size: rem-calc(13);
  font-weight: bold;

  .menu a {
    height: 45px;
    line-height: 45px;
    color: $light-gray;
    padding-top: 0;
    padding-bottom: 0;

    &:hover:not(.button),
    &:focus {
      background: darken($topbar-background, 20%);
    }

    &.button {
      border-radius: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .title {
    color: $dark-gray;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: lighten($topbar-background, 10%);
  }
}

.off-canvas {
  a.close-button {
    color: $light-gray;
  }
  .close-button:hover, .close-button:focus {
    color: $light-gray;
  }
}

// .docs-topbar {
//   background: #333;
//   font-size: rem-calc(13);
//   font-weight: bold;

//   .menu a {
//     height: 45px;
//     line-height: 45px;
//     color: white;
//     padding-top: 0;
//     padding-bottom: 0;

//     &:hover,
//     &:focus {
//       background: #222;
//     }
//   }

//   .is-active a {
//     background: #222;
//   }

//   // ZURB logo
//   .menu img {
//     position: relative;
//     top: -2px;
//   }

//   .menu:first-child {
//     border-right: 1px solid #4e4e4e;
//   }

//   .menu:last-child {
//     border-left: 1px solid #4e4e4e;
//   }

//   .menu {
//     li:not(:last-child) {
//       border-right: 1px solid #4e4e4e;
//     }
//   }

//   .docs-menu-title {
//     margin: 0;
//   }
// }
