.docs-topbar {
  background: #333;
  font-size: rem-calc(13);
  font-weight: bold;

  .menu a {
    height: 45px;
    line-height: 45px;
    color: white;
    padding-top: 0;
    padding-bottom: 0;

    &:hover,
    &:focus {
      background: #222;
    }
  }

  .is-active a {
    background: #222;
  }

  // ZURB logo
  .menu img {
    position: relative;
    top: -2px;
  }

  .menu:first-child {
    border-right: 1px solid #4e4e4e;
  }

  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }

  .docs-menu-title {
    margin: 0;
  }
}
