// Specific text uses Proxima Nova instead of the framework's default of Helvetica Neue. We should only apply Proxima Nova to docs-specific elements, like section titles, and never to elements of the framework itself.

.docs-header,
.docs-site-title,
.docs-page-title,
.docs-page-lead,
.docs-heading,
.docs-menu,
.docs-sub-menu,
.docs-big-index strong,
.docs-small-index h4,
.twitter-typeahead {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a > code {
  background: transparent;
  border: 0;
  padding: 0;
  color: $primary-color;
}
