// The CSS for the Foundation docs is stored in an external codebase:
// https://github.com/zurb/foundation-docs
//
// You can test Sass changes locally by running these commands:
//   git clone https://github.com/zurb/foundation-docs
//   npm link ./foundation-docs
//
// Feel free to submit pull requests to foundation-docs like you would Foundation itself!

@import 'settings/settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything;
@include motion-ui-transitions;

@import 'foundation-docs';

.docs-newsletter { margin-top: 0 !important; }
#subForm { margin-top: 1rem; }

#studiosCallout {
    border-top: 1px solid #f6f4f4;
    padding: 45px 45px 20px 45px !important;
    background-color: #fafafa !important;

    .property-label {
      font-family: "Proxima Nova Condensed Bold","Proxima Nova Condensed","proxima-nova-condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }

    h3 {
      font-size: 26px;
      margin-top: 20px;
      color: #333;
    }

    .lead {
      font-size: 18px;
      color: #333;
    }

    img {
      width: 100%;
      height: 250px;
      overflow: hidden;
    }


    /* -= Button + Label Colors Based on Property =- */

    &.university {
      .button { background: #ff6908;
        &:hover {
          background-color: #de5700;
          transition: .25 ease all;
        }
      }
      .property-label { color: #ff6908; }
    }
    &.foundation {
      .button { background: #2CADBE;
        &:hover {
          background-color: #228795;
          transition: .25 ease all;
        }
      }
      .property-label { color: #2CADBE; }
    }
    &.studios {
      .button { background: #2CADBE;
        &:hover {
          background-color: #228795;
          transition: .25 ease all;
        }
      }
      .property-label { color: #2CADBE; }
    }
  }

  #studiosCallout {
    @media (max-width: 650px) {
      text-align: left;

      .button {
        width: auto;
      }

      h1 {
        margin-top: 0;
      }
    }
  }
