@charset 'UTF-8';

@import 'foundation';
@import 'motion-ui';

@include foundation-everything;
@include motion-ui-transitions;

@import 'typography';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'newsletter';
@import 'page';
@import 'anchor';
@import 'code';
@import 'reference';
@import 'examples';
@import 'color-block';
@import 'index';
@import 'building-blocks';
@import 'search';
@import 'compatibility';
@import 'notices';
@import 'topbar';
@import 'banner';

.menu-group {
  @include clearfix;

  ul:first-child { float: left; }
  ul:last-child  { float: right; }
}
.sticky-mag {
  background-color: white;
  &.stuck-mag {
    border-bottom: 2px solid #121212;
  }
}

// .docs-component {
//   .callout {
//     border-left-width: 10px;

//     &.primary { border-left-color: $primary-color; }
//     &.warning { border-left-color: $warning-color; }
//     &.alert   { border-left-color: $alert-color; }
//   }
// }
