// The CSS for the Foundation docs is stored in an external codebase:
// https://github.com/zurb/foundation-docs
//
// You can test Sass changes locally by running these commands:
//   git clone https://github.com/zurb/foundation-docs
//   npm link ./foundation-docs
//
// Feel free to submit pull requests to foundation-docs like you would Foundation itself!

@import 'settings/settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-range-input;
@include foundation-progress-element;
@include foundation-meter-element;
@include motion-ui-transitions;

@import 'foundation-docs';
@import 'examples/grid';
@import 'examples/motion-ui';
@import 'examples/off-canvas';
@import 'examples/orbit';
@import 'examples/responsive-embed';
@import 'examples/reveal';

@import 'course-callout';

$topbar-background: #2c3840;
$topbar-hover-color: lighten($topbar-background, 10%);


/* Banner for announcements */
a#notice {
  display:block;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  width:100%;
  background-image: url('http://zurb.com/university/assets/zurbwired2016-web-banner-a95e5d17264e3617a2ae4f34e84f973b.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0078AB;
  height: 70px;

  .countdown {
    display:none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    margin-left: -50%;
    font-family: "Proxima-Nova", "Proxima", "proxima-nova", sans-serif;
    background-color: rgba(0,120,171,0.7);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(0,120,171,0.7);
    -moz-box-shadow: 0px 0px 16px 7px rgba(0,120,171,0.7);
    box-shadow: 0px 0px 16px 7px rgba(0,120,171,0.7);
  }

  .timer-colon {
    margin: 0px -2px 0px -4px;
    padding: 0;
  }

  .timer-hour, .timer-minute, .timer-second {
    letter-spacing: 2px;
  }

  .info {
    left: 0;
    right: 0;
    // top: 15px;
    z-index: 20;
    margin-top: -7px;
    // width: 75%;
    margin-left: auto;
    margin-right: auto;
    // position: absolute;
    h5 { color: #ffffff; font-size: 18px !important;}
    text-align: center;
    @media only screen and (max-width: 675px) { width: 100%; padding: 0 15px 0px 15px; position: relative; }
  }

  @media (max-width: 800px) {
    background-position: 51.2% 0;
    .countdown { display: none; }
  }
}
/* COUNTDOWN END */


.marketing-topbar,
.title-bar {
  background: $topbar-background;

  .dropdown.menu a {
    background: $topbar-background;
  }
  .is-dropdown-submenu-item a {
    &:hover {
      background: $topbar-hover-color;
    }
  }

  .title {
    background: $topbar-background;
  }
}

.dropdown.menu a.button {
  background: $primary-color;

  &:hover {
    background: darken($primary-color, 10%);
  }
}


.marketing-topbar .menu a:hover:not(.button),
.marketing-topbar .menu a:focus {
  background: $topbar-hover-color;
}

.marketing-topbar .menu .topbar-title a {
  &:hover,
  &:focus {
    background: $topbar-background;
  }
}

.docs-newsletter {
  padding: 1rem 0;
}

.footer-signup-form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.zurb-footer-bottom {
  background: $topbar-background;
}

.ad-unit {
  max-width: 250px;
  padding: .5rem;
  background: #074E68;
  border-radius: 4px;
}

.ad-unit-title {
  padding: 10px 16px 5px 16px;
  text-align: center;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  font-family: 'proxima nova', helvetica, arial;
  animation:  ad-title-anim 1.5s 1 ease;
  animation-fill-mode: backwards;
}

.ad-unit-text {
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 0 15px 10px 15px;
  animation:  ad-text-anim 1s 1 ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.ad-unit-button {
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
}


@keyframes ad-title-anim {
  0%   { opacity: 0; transform: translateY(50%); }
  100% { opacity: 1; }
}

@keyframes ad-text-anim {
  0%   { opacity: 0; transform: scale(.7, .7); }
  100% { opacity: 1; transform: scale(1, 1);}
}

.youtube {
  background: url("../img/icons/youtube.png") no-repeat center 0;
}

.menu li.docs-nav-version {
  display: flex;
  align-items: center;

  span {
    line-height: 2.5;
  }
}
