// The CSS for the Foundation docs is stored in an external codebase:
// https://github.com/zurb/foundation-docs
//
// You can test Sass changes locally by running these commands:
//   git clone https://github.com/zurb/foundation-docs
//   npm link ./foundation-docs
//
// Feel free to submit pull requests to foundation-docs like you would Foundation itself!

@import 'settings/settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-range-input;
@include foundation-progress-element;
@include foundation-meter-element;
@include motion-ui-transitions;

@import 'foundation-docs';
@import 'examples/grid';
@import 'examples/motion-ui';
@import 'examples/off-canvas';
@import 'examples/orbit';
@import 'examples/reveal';
@import 'examples/top-bar';

$topbar-background: #2c3840;
$topbar-hover-color: lighten($topbar-background, 10%);

.marketing-topbar,
.title-bar {
  background: $topbar-background;

  .dropdown.menu a {
    background: $topbar-background;
  }

  .title {
    background: $topbar-background;
  }
}

.dropdown.menu a.button {
  background: $primary-color;

  &:hover {
    background: darken($primary-color, 10%);
  }
}

.is-dropdown-submenu-item a {
  &:hover {
    background: $topbar-hover-color;
  }
}

.marketing-topbar .menu a:hover:not(.button), 
.marketing-topbar .menu a:focus {
  background: $topbar-hover-color;
}

.marketing-topbar .menu .topbar-title a {
  &:hover, 
  &:focus {
    background: $topbar-background;
  }
}

.zurb-footer-bottom {
  background: $topbar-background;
}