// Ratios
$golden: 1.618;
$gold: $golden;
$double-octave: (4 / 1);
$major-twelfth: (3 / 1);
$major-eleventh: (8 / 3);
$major-tenth: (5 / 2);
$octave: (2 / 1);
$major-seventh: (15 / 8);
$minor-seventh: (16 / 9);
$major-sixth: (5 / 3);
$minor-sixth: (8 / 5);
$fifth: (3 / 2);
$augfourth: (1 / 1.4142135623730950488); // (1 / square root 2)
$fourth: (4 / 3);
$major-third: (5 / 4);
$minor-third: (6 / 5);
$major-second: (9 / 8);
$minor-second: (16 / 15);