/* CSS for jQuery Reveal Plugin
 * Maintained for Foundation. foundation.zurb.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Reveal Modals ---------------------- */

  .reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(#000, .45); z-index: 40; display: none; top: 0; #{$defaultFloat}: 0; }

  .reveal-modal { background: #fff; visibility: hidden; display: none; top: 100px; #{$defaultFloat}: 50%; margin-#{$defaultFloat}: -260px; width: 520px; position: absolute; z-index: 41; padding: 30px; @include box-shadow(0 0 10px rgba(#000,.4));
    .close-reveal-modal {
      @include font-size(22);
      line-height: .5;
      position: absolute;
      top: 8px;
      #{$defaultOpposite}: 11px;
      color: #aaa;
      text-shadow: 0 -1px 1px rgba(0,0,0,.6);
      font-weight: bold;
      cursor: pointer;
    }
    &.small   { width: 30%; margin-#{$defaultFloat}: -15%; }
    &.medium  { width: 40%; margin-#{$defaultFloat}: -20%; }
    &.large   { width: 60%; margin-#{$defaultFloat}: -30%; }
    &.xlarge  { width: 70%; margin-#{$defaultFloat}: -35%; }
    &.expand  { width: 90%; margin-#{$defaultFloat}: -45%; }
    .row { min-width: 0; margin-bottom: 10px; }
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
  @media print {
    div:not(.reveal-modal) { display: none; }
    .reveal-modal { border: solid 1px #000; background: #fff; }
  }
