/*doc
---
title: Grid
name: grid
category: grid
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatem quibusdam nihil quod nisi esse assumenda rerum, recusandae perspiciatis iure dolor velit, distinctio cum ducimus ut, dicta placeat laborum. Ut!

## HTML

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequatur repellat veritatis impedit, adipisci error ipsum rerum. Debitis numquam natus velit tempora reiciendis enim aliquid, eius aspernatur temporibus, beatae perferendis.

```html
<div class="row">
  <div class="medium-4 large-3 columns"></div>
  <div class="medium-8 large-9 columns"></div>
</div>
```
*/

////
/// @group grid
////

/// The maximum width of a row.
/// @type Number
$grid-row-width: 1000px !default;

/// The default column count of a grid. Changing this value affects the logic of the grid mixins, and the number of CSS classes output.
/// @type Number
$grid-column-count: 12 !default;

/// The amount of space between columns.
/// @type Number
$grid-column-gutter: 1.875rem / 2 !default;

@import "util";
@import "row";
@import "column";
@import "position";
@import "gutter";
@import "classes";
