$include-html-button-classes: $include-html-classes;

/* We use these to build padding for buttons. */
$button-med: em-calc(12);
$button-tny: em-calc(7);
$button-sml: em-calc(9);
$button-lrg: em-calc(16);

/* We use this to control the display property. */
$button-display: inline-block;
$button-margin-bottom: em-calc(20);

/* We use these to control button text styles. */
$button-font-family: inherit;
$button-font-color: #fff;
$button-font-color-alt: #333;
$button-font-med: em-calc(16);
$button-font-tny: em-calc(11);
$button-font-sml: em-calc(13);
$button-font-lrg: em-calc(20);
$button-font-weight: bold;
$button-font-align: center;

/* We use these to control various hover effects. */
$button-function-factor: 10%;

/* We use these to control button border styles. */
$button-border-width: 1px;
$button-border-style: solid;

/* We use this to set the default radius used throughout the core. */
$button-radius: $global-radius;
$button-round: $global-rounded;

/* We use this to set default opacity for disabled buttons. */
$button-disabled-opacity: 0.6;