@import "settings";
@import "foundation";
@import "coderay";
// additional styles go here

/* Documentation Overrides */
h5 { margin-top: 1.5em; }

.html, .css, .scss, .js { position: relative; }

.CodeRay:before {
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  color: #ccc;
  font-size: .75em;
}
.html > .CodeRay:before { content: "HTML"; }
.css > .CodeRay:before { content: "SCSS"; }
.js > .CodeRay:before { content: "JS"; }

/* Alert Doc Classes */
.alert-base {
  @include alert-base;

  &.bg { @include alert-style; }
  &.custom-bg { @include alert-style(#ff6c3c); }
  &.radius { @include border-radius; }
  .close { @include alert-close; }
}

/* Breadcrumb Doc Classes */
.crumb-container {
  @include crumb-container;
  &.radius { @include radius; }
  &.crumbs li { @include crumbs; }
}

/* Button Doc Classes */
.button.custom {
  @include button(1.1em, #FF94CB, 20px);
}

.button-base {
  @include button-base;
  &.size { @include button-size; }
  &.style { @include button-style; }
}

@media only screen and (min-width: 48em) {
  .button { margin-bottom: 15px; }
}