@import "foundation";

/*
  Foundation 3 Main Site
  presentation.css - Addons to Foundation 3 Core
*/

/* Global */

h1, h2, h3, h4, h5 { font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; font-weight: 300; }

span.glyph { font-family: "FoundationIconsGeneralEnclosed"; }
span.glyph.social { font-family: "FoundationIconsSocial"; }

footer span.glyph { font-size: 23px; }

#copyright { background: #3f3f3f; color: #fff; padding: 11px 0; margin-top: 44px; }
#copyright p, #copyright ul.link-list { margin-bottom: 0; }
#copyright a { color: #fff; }

.gist .gist-file { border-radius: 3px; }
.gist .gist-file .gist-data { background: #f9f9f9 !important; border-radius: 3px; }
.gist-data pre { font-size: 13px; font-size: 1.3rem; line-height: 18px; }
.gist .gist-file .gist-data { border-bottom: none !important; }
.gist .gist-file .gist-meta { background: #fff !important; border: none !important; color: #ccc !important; padding-top: 11px !important; }
.gist .gist-file .gist-meta a { color: #999 !important; }
.gist .gist-file .gist-meta a:hover { text-decoration: underline; }

header { background-color: #2ba6cb; padding: 22px 0; }
header h1 { color: #fff; font-weight: 500; }
header h4 { color: #fff; font-weight: 300; }

p.disclaimer { color: #999; }

/* Homepage */

header#homepage { background: image-url("device-bg.png") center bottom no-repeat #2ba6cb; padding: 22px 0 262px; }
header#homepage h4 { margin-bottom: 44px; }

header#homepage .button { background: #137795; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
header#homepage .button:hover { background: #006582; }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  header#homepage { background-size: auto 357.5px; background-image: image-url("device-bg-retina.png"); }
}


#homepageFeatures { background: #ecf8ff; padding: 88px 0 44px 0; margin-bottom: 44px; }
#homepageFeatures h3 { color: #2ba6cb; }
#homepageFeatures div.pic { width: 110px; height: 110px; background-size: 100% 100%; }

.pic#homepageImgSass { background-image: image-url("homepageImgSass.png"); }
.pic#homepageImgFeatures { background-image: image-url("homepageImgFeatures.png"); }
.pic#homepageImgAdvanced { background-image: image-url("homepageImgAdvanced.png"); }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  .pic#homepageImgSass { background-image: image-url("homepageImgSass-retina.png"); }
  .pic#homepageImgFeatures { background-image: image-url("homepageImgFeatures-retina.png"); }
  .pic#homepageImgAdvanced { background-image: image-url("homepageImgAdvanced-retina.png"); }
}

#github { background: #3f3f3f; padding: 20px 30px 0; }
#github h4 { color: #fff; }
#github span, #github a { color: #fff; font-size: 12px; font-size: 1.2rem; display: block; word-wrap: break-word; line-height: 1.3; margin-bottom: 3px; }
#github span { font-weight: bold; }
#github span.date { text-transform: uppercase; color: #d8f7fd; }
#github a.button { margin: 22px 0 44px; color: #3f3f3f; border: none; background: #fff; }
#github a.button:hover { background: #eee; }
#github img { display: block; }

#frameworkFeatures a.pic { width: 205px; height: 130px; display: block; background-repeat: none; background-size: 100% 100%; }
#featureGrid { background-image: image-url("featureGrid.png"); }
#featurePrototype { background-image: image-url("featurePrototype.png"); }
#featureDevices { background-image: image-url("featureDevices.png"); }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  #featureGrid { background-image: image-url("featureGrid-retina.png"); }
  #featurePrototype { background-image: image-url("featurePrototype-retina.png"); }
  #featureDevices { background-image: image-url("featureDevices-retina.png"); }
}

#usingFoundation { background: #2ba6cb; padding: 22px 0; margin: 44px 0; }
#usingFoundation h3, #usingFoundation a { color: #fff; }
#usingFoundation a.top-right { position: absolute; top: 22px; right: 15px; color: rgba(255,255,255,0.5); }
#usingFoundation a.top-right:hover { text-decoration: underline; }
#usingFoundation .block-grid li a { display: block; }
#usingFoundation .block-grid li a img { display: block; margin: 0 auto; }

.case-study { background: image-url("case-study-bg.png") left bottom repeat-x #f8f8f8; padding: 8px 20px 8px 45%; margin-bottom: 30px; position: relative; }
.case-study img { position: absolute; width: 45%; left: 0; bottom: 0; display: block; }


/* Secondary Pages */
#mainContent { margin-top: 44px; margin-bottom: 22px; padding-bottom: 22px; border-bottom: 1px solid #eee; overflow: hidden; }

#sideDeviceDesktop { max-width: 240%; }
#sideDeviceiPad { max-width: 140%; }

@media #{$media-small} {
  #sideDeviceDesktop { max-width: 100%; }
  #sideDeviceiPad { max-width: 100%; }
}

/* Top bar */
.container.top-bar { margin-bottom: 0; }
.top-bar { -webkit-box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; -moz-box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; border-bottom: none; }
.top-bar li { margin-bottom: 0; line-height: 46px; }
.top-bar .attached > ul.right > li.download { border-right: 0; }
.top-bar .attached > ul.right > li.download a { padding: 6px 13px 6px; }
.top-bar .small.button { height: auto; top: 10px; }
.top-bar a:hover { color: white; }
.top-bar .attached > ul.right > li.download:hover > a { background-color: #2284A1; }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .top-bar .attached > .name span > a.toggle-nav { background-image: image-url("plus-toggle-2-retina.png"); background-size: 100% 100%; }
}

#megaDrop li { list-style: none; }
#megaDrop .show-on-phones, #megaDrop .sitemap-link { display: none !important; }


/* Customizer Page */
.customizer li { padding: 6px 0; }
.customizer li:first-child { padding-top: 0; }
.customizer li label { font-size: 13px; font-size: 1.3rem; line-height: 1; margin-bottom: 0; }
.customizer li em { padding-left: 16px; font-size: 11px; font-size: 1.1rem; color: #777; font-style: normal; }

/* Fonts */

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Light-webfont.eot');
    src: font-url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Light-webfont.woff') format('woff'),
         font-url('OpenSans-Light-webfont.ttf') format('truetype'),
         font-url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: light;
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-LightItalic-webfont.eot');
    src: font-url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-LightItalic-webfont.woff') format('woff'),
         font-url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: light;
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Regular-webfont.eot');
    src: font-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Regular-webfont.woff') format('woff'),
         font-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         font-url('OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Italic-webfont.eot');
    src: font-url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Italic-webfont.woff') format('woff'),
         font-url('OpenSans-Italic-webfont.ttf') format('truetype'),
         font-url('OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Semibold-webfont.eot');
    src: font-url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Semibold-webfont.woff') format('woff'),
         font-url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         font-url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-SemiboldItalic-webfont.eot');
    src: font-url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         font-url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: bold;
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Bold-webfont.eot');
    src: font-url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-Bold-webfont.woff') format('woff'),
         font-url('OpenSans-Bold-webfont.ttf') format('truetype'),
         font-url('OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-BoldItalic-webfont.eot');
    src: font-url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         font-url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-ExtraBold-webfont.eot');
    src: font-url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         font-url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         font-url('OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-ExtraBoldItalic-webfont.eot');
    src: font-url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         font-url('OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         font-url('OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: italic;

}

/* Foundation Icons */
@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: font-url('foundation-icons-general-enclosed.eot');
    src: font-url('foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         font-url('foundation-icons-general-enclosed.woff') format('woff'),
         font-url('foundation-icons-general-enclosed.ttf') format('truetype'),
         font-url('foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FoundationIconsSocial';
    src: font-url('foundation-icons-social.eot');
    src: font-url('foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         font-url('foundation-icons-social.woff') format('woff'),
         font-url('foundation-icons-social.ttf') format('truetype'),
         font-url('foundation-icons-social.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}
