@import "foundation";
/* Foundation 3 Main Site presentation.css - Addons to Foundation 3 Core
*/
/* Global */
h1, h2, h3, h4, h5 { font-family: "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; font-weight: 300; }

span.glyph { font-family: "FoundationIconsGeneralEnclosed"; }

span.glyph.social { font-family: "FoundationIconsSocial"; }

footer span.glyph { font-size: 23px; }

#copyright { background: #3f3f3f; color: #fff; padding: 11px 0; margin-top: 44px; }

#copyright p, #copyright ul.link-list { margin-bottom: 0; }

#copyright a { color: #fff; }

.gist .gist-file .gist-file { border-radius: 3px; }
.gist .gist-file .gist-file .gist-data { background: #f9f9f9 !important; border-radius: 3px; }
.gist .gist-file .gist-file .gist-data { border-bottom: none !important; }
.gist .gist-file .gist-file .gist-meta { background: #fff !important; border: none !important; color: #ccc !important; padding-top: 11px !important; }
.gist .gist-file .gist-file .gist-meta a { color: #999 !important; }
.gist .gist-file .gist-file .gist-meta a:hover { text-decoration: underline; }

.gist-data pre { font-size: 13px; font-size: 1.3rem; line-height: 18px; }

header { background-color: #2ba6cb; padding: 22px 0; }
header h1 { color: #fff; font-weight: 500; }
header h4 { color: #fff; font-weight: 300; }

p.disclaimer { color: #999; }

/* Homepage */
header#homepage { background: url('../images/device-bg.png?1340846519') center bottom no-repeat #2ba6cb; padding: 22px 0 262px; }
header#homepage h4 { margin-bottom: 44px; }
header#homepage .button { background: #137795; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
header#homepage .button:hover { background: #006582; }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { header#homepage { background-size: auto 357.5px; background-image: url('../images/device-bg-retina.png?1340846519'); } }
#homepageFeatures { background: #ecf8ff; padding: 88px 0 44px 0; margin-bottom: 44px; }
#homepageFeatures h3 { color: #2ba6cb; }
#homepageFeatures div.pic { width: 110px; height: 110px; background-size: 100% 100%; }

@media only screen and (max-width: 767px) { header#homepage { background-size: auto 130px; padding-bottom: 150px; }
  #homepageFeatures { padding-top: 30px; } }
.pic#homepageImgSass { background-image: url('../images/homepageImgSass.png?1340846519'); }

.pic#homepageImgFeatures { background-image: url('../images/homepageImgFeatures.png?1340846519'); }

.pic#homepageImgAdvanced { background-image: url('../images/homepageImgAdvanced.png?1340846519'); }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .pic#homepageImgSass { background-image: url('../images/homepageImgSass-retina.png?1340846519'); }
  .pic#homepageImgFeatures { background-image: url('../images/homepageImgFeatures-retina.png?1340846519'); }
  .pic#homepageImgAdvanced { background-image: url('../images/homepageImgAdvanced-retina.png?1340846519'); } }
#github { background: #3f3f3f; padding: 20px 30px 0; }
#github h4 { color: #fff; }
#github span, #github #github a { color: #fff; font-size: 12px; font-size: 1.2rem; display: block; word-wrap: break-word; line-height: 1.3; margin-bottom: 3px; }
#github span { font-weight: bold; }
#github span.date { text-transform: uppercase; color: #d8f7fd; }
#github a.commit { font-weight: bold; font-size: 12px; font-size: 1.2rem; word-break: break-word; }
#github a.button { margin: 22px 0 44px; color: #3f3f3f; border: none; background: #fff; }
#github a.button:hover { background: #eee; }
#github img { display: block; }

#frameworkFeatures a.pic { width: 205px; height: 130px; display: block; background-repeat: none; background-size: 100% 100%; }

#featureGrid { background-image: url('../images/featureGrid.png?1340846519'); }

#featurePrototype { background-image: url('../images/featurePrototype.png?1340846519'); }

#featureDevices { background-image: url('../images/featureDevices.png?1340846519'); }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { #featureGrid { background-image: url('../images/featureGrid-retina.png?1340846519'); }
  #featurePrototype { background-image: url('../images/featurePrototype-retina.png?1340846519'); }
  #featureDevices { background-image: url('../images/featureDevices-retina.png?1340846519'); } }
#usingFoundation { background: #2ba6cb; padding: 22px 0; margin: 44px 0; }
#usingFoundation h3, #usingFoundation #usingFoundation a { color: #fff; }
#usingFoundation a.top-right { position: absolute; top: 22px; right: 15px; color: rgba(255, 255, 255, 0.5); }
#usingFoundation a.top-right:hover { text-decoration: underline; }
#usingFoundation .block-grid li a { display: block; }
#usingFoundation .block-grid li a img { display: block; margin: 0 auto; }

@media only screen and (max-width: 767px) { #usingFoundation a.top-right { display: none; } }

.case-study { background: url('../images/case-study-bg.png?1340846519') left bottom repeat-x #f8f8f8; padding: 8px 20px 8px 45%; margin-bottom: 30px; position: relative; overflow: hidden; }
.case-study a img { position: absolute; width: 45%; height: auto; left: 0; bottom: 0; display: block; border: none; }

@media screen and (orientation: portrait) { .case-study { padding-left: 20px; }
  .case-study img { width: 50%; z-index: 2; opacity: 0.1; }
  .case-study h4, .case-study p { position: relative; z-index: 3; } }
@media only screen and (max-width: 767px) {
  .case-study { padding-left: 20px; padding-bottom: 130px; }
  .case-study img { width: auto; height: 120px; opacity: 1; } }
/* Secondary Pages */
#mainContent { margin-top: 44px; margin-bottom: 22px; padding-bottom: 22px; border-bottom: 1px solid #eee; overflow: hidden; }

#sideDeviceDesktop { max-width: 240%; }

#sideDeviceiPad { max-width: 140%; }

@media only screen and (max-width: 767px) { #sideDeviceDesktop { max-width: 100%; }
  #sideDeviceiPad { max-width: 100%; } }
  
/* Top bar */
.container.top-bar { margin-bottom: 0; }

.top-bar { -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; border-bottom: none; }
.top-bar .attached { padding: 0 15px; width: 1000px; max-width: 100%; }
.top-bar .attached > .name:hover { color: #fff !important; }
.top-bar li { margin-bottom: 0; line-height: 46px; }
.top-bar .attached > ul.right { overflow: hidden; }
.top-bar .attached > ul.right > li.download { border-right: 0; }
.top-bar .attached > ul.right > li.download a { padding: 6px 13px 6px; }
.top-bar .small.button { height: auto; top: 10px; }
.top-bar .attached > ul.right > li > a:hover { color: $white; }
.top-bar .attached > ul.right > li.download:hover > a { background-color: #2284A1; }
.top-bar .attached > .name > span > a.toggle-nav { right: -45px !important; }
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .top-bar .attached > .name span > a.toggle-nav { background-image: url('../images/plus-toggle-2-retina.png?1340846519'); background-size: 100% 100%; } }
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .top-bar { height: 45px !important; }
  .top-bar .attached { height: auto; }
  .top-bar .attached > ul.right { overflow: visible !important; height: 45px !important; }
  .top-bar .attached > .name { height: auto; padding: 0 !important; margin-top: 0; text-indent: 0 !important; }
  .top-bar .attached > .name span { width: auto; padding: 0 !important; text-indent: 0 !important; margin-left: 0 !important; padding-left: 0 !important; }
  .top-bar .attached > .name span > a { width: auto; padding: 0 !important; text-indent: 0 !important; }
  .top-bar .attached > ul > li > a, .top-bar .attached > ul > li > span { height: 45px !important; text-indent: 0; }
  .top-bar .attached > ul > li > a.button { height: auto !important; }
}
@media only screen and (device-width: 1280px) {
  .top-bar { height: 45px !important; }
  .top-bar .attached > .name span { padding-left: 0 !important; }
}
@media only screen and (max-width: 767px) {
  .top-bar { position: relative; overflow: hidden; height: 45px;
    &:after { @include cssTriangle(8px, #fff, top); position: absolute; right: 20px; top: 19px; }
  }
  .top-bar.expanded { height: auto !important;
    &:after { @include cssTriangle(8px, #888, bottom); top: 10px; }
  }
  .top-bar .name span { margin-left: 0px !important; }
  .top-bar .attached > ul > li > a, .top-bar .attached > ul > li > span { padding-left: 0px; padding-right: 0px; }
  .top-bar .attached > ul > li.download a { margin-bottom: 30px !important; margin-top: 10px; }
  .top-bar .attached > .name > span > a.toggle-nav { right: -45px !important; }
}
@media only screen and (orientation: portrait) and (min-device-width: 768px) {
  .top-bar { height: 100%; }
  .touch .top-bar { height: 45px !important; }
  .touch .top-bar .attached { height: 45px !important; }
  .touch .top-bar .attached > ul.right { overflow: hidden; height: 45px !important; }
}
@media only screen and (orientation: landscape) and (min-device-width: 768px) {
  .touch .top-bar .attached > ul.right { height: 45px !important; overflow: hidden !important; }
}

#megaDrop li { list-style: none; }

#megaDrop .show-on-phones, #megaDrop .sitemap-link { display: none !important; }

/* Customizer Page */
.customize li { padding: 6px 0; }
.customize li:first-child { padding-top: 0; }
.customize li label { font-size: 13px; font-size: 1.3rem; line-height: 1; margin-bottom: 0; }
.customize li em { padding-left: 16px; font-size: 11px; font-size: 1.1rem; color: #777; font-style: normal; }

/* Fonts */
@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-Light-webfont.eot'); src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-Light-webfont.woff') format("woff"), url('fonts/OpenSans-Light-webfont.ttf') format("truetype"), url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format("svg"); font-weight: light; font-weight: 300; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-LightItalic-webfont.eot'); src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-LightItalic-webfont.woff') format("woff"), url('fonts/OpenSans-LightItalic-webfont.ttf') format("truetype"), url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg"); font-weight: light; font-weight: 300; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-Regular-webfont.eot'); src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-Regular-webfont.woff') format("woff"), url('fonts/OpenSans-Regular-webfont.ttf') format("truetype"), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg"); font-weight: normal; font-weight: 500; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-Italic-webfont.eot'); src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-Italic-webfont.woff') format("woff"), url('fonts/OpenSans-Italic-webfont.ttf') format("truetype"), url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg"); font-weight: normal; font-weight: 500; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-Semibold-webfont.eot'); src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-Semibold-webfont.woff') format("woff"), url('fonts/OpenSans-Semibold-webfont.ttf') format("truetype"), url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg"); font-weight: bold; font-weight: 600; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-SemiboldItalic-webfont.eot'); src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg"); font-weight: bold; font-weight: 600; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-Bold-webfont.eot'); src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-Bold-webfont.woff') format("woff"), url('fonts/OpenSans-Bold-webfont.ttf') format("truetype"), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg"); font-weight: bold; font-weight: 700; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-BoldItalic-webfont.eot'); src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-BoldItalic-webfont.woff') format("woff"), url('fonts/OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg"); font-weight: bold; font-weight: 700; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-ExtraBold-webfont.eot'); src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-ExtraBold-webfont.woff') format("woff"), url('fonts/OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg"); font-weight: bold; font-weight: 900; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot'); src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg"); font-weight: bold; font-weight: 900; font-style: italic; }

/* Foundation Icons */
@font-face { font-family: 'FoundationIconsGeneralEnclosed'; src: url('fonts/foundation-icons-general-enclosed.eot'); src: url('fonts/foundation-icons-general-enclosed.eot?#iefix') format("embedded-opentype"), url('fonts/foundation-icons-general-enclosed.woff') format("woff"), url('fonts/foundation-icons-general-enclosed.ttf') format("truetype"), url('fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FoundationIconsSocial'; src: url('fonts/foundation-icons-social.eot'); src: url('fonts/foundation-icons-social.eot?#iefix') format("embedded-opentype"), url('fonts/foundation-icons-social.woff') format("woff"), url('fonts/foundation-icons-social.ttf') format("truetype"), url('fonts/foundation-icons-social.svg#FoundationIconsGeneralEnclosed') format("svg"); font-weight: normal; font-style: normal; }
