/* Styles for Product Card */
body {
  padding-top: 100px;
}

.month {
  height: 110px;
  width: 100%;
  background: #008cba;
  overflow: hidden;
  text-align: center;
}
.month .back {
  position: relative;
  padding: 20px;
  float: left;
  height: 100%;
}
.month .back:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 46px;
  left: 22px;
  opacity: 0.5;
}
.month .next {
  position: relative;
  padding: 20px;
  float: right;
  height: 100%;
}
.month .next:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  top: 46px;
  right: 22px;
  opacity: 0.5;
}
.month h5 {
  color: #fff;
  margin: 42px 0 0;
  text-transform: uppercase;
}
.month p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.calendar ul {
  padding: 15px;
  background: #f3f3f3;
  margin: 0;
}
.calendar ul.weekdays {
  padding: 10px 15px 3px;
  background: #f9f9f9;
}
.calendar ul li {
  list-style-type: none;
  display: inline-block;
  width: 12.8%;
  height: 25px;
  font-size: 12px;
  color: #888;
  text-align: center;
  margin-bottom: 4px;
}
.calendar ul li span {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.calendar ul li a {
  color: #888;
  display: block;
  padding: 4px 0;
}
.calendar ul li a:hover {
  border-radius: 5px;
  background: #f9f9f9;
}
.calendar ul li a.active {
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 2px 0;
}
