/* Styles for expanding search element */
.search-field {
  width: 0;
}

.search-icon {
  margin-top: 15px;
}

span {
  padding-left: 5px;
  color: #fff;
}

.icon {
  font-size: 20px;
  color: #fff;
}

.center {
  padding-top: 20%;
}

.fi-magnifying-glass:before {
content: "\f16c";
position: absolute;
margin-left: 7px;
margin-top: 2px;
font-size: 30px;
line-height: 50px;
color: #cccccc;
z-index: 2;
display: inline-block;
}

input[type="text"].dream-search {
  width: 150px;
  padding-left: 35px;
}

input[type="text"].dream-search:focus {
  width: 250px;
  transition: ease-in-out,width .35s ease-in-out;
}

.center-row {
  background-color: #0078A0;
  border-radius: 15px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 400px;
}

.center-row ul{
  display: table;
  margin: 0 auto;
}
