/* Styles for search results */
.results {
  margin-top: 50px;
}
.results .search-results {
  margin-top: 40px;
  margin-bottom: 20px;
}
.results img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
