input[type=text] {
   padding-left: 15px;
   border: none;
   width: 250px;
   background-color: transparent; 
   border-style: solid; 
   border-width: 0px 0px 1px 0px; 
   border-color: darkred;
   box-shadow: none;
   font-size: 20px;
   font-weight: 100;
   text-transform: uppercase;
   padding-bottom: 0px;
   display: inline-block;
  }

form {
	display: inline-block;
}

p {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
	font-weight: 200;
	color: #333;
	text-rendering: optimizeLegibility;
	padding-left: 20px;
	font-size: 20px;
}

select, input[type="color"][list] {
   padding-left: 15px;
   width: 250px;
   background-color: transparent; 
   border-radius: 0;
   border-style: solid; 
   border-width: 0px 0px 1px 0px; 
   border-color: darkred;
   box-shadow: none;
   font-size: 20px;
   font-weight: 100;
   text-transform: uppercase;
   border-radius: 0px;
   padding-bottom: 5px;
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
   background-position: 100% center;
   background-repeat: no-repeat;
}

form p span { display: block; }

@media only screen and (min-width: 40.063em) {
	form p span {
		display: inline-block;
	}	
}

select.verb-dropdown {
 	-webkit-appearance: none;
 	border-radius: 0 0 0 0;
 	color: rgba(0, 0, 0, 0.75)
 }

