/* Artfully masterminded by ZURB  */



/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Buttons
:: Alerts
:: Labels
:: Tabs
:: Pagination
:: Lists
:: Panels
:: Nav
:: Video
:: Microformats
*/




/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	.button {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	.button.nice { 
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
		border: 1px solid #0593dc;
		-webkit-transition: background-color .15s ease-in-out;
		-moz-transition: background-color .15s ease-in-out;
		-o-transition: background-color .15s ease-in-out;
	}

	.button.radius {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.left-align {
		text-align: left;
		text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #00a6fc;  }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.black.button		{ border: 1px solid #000; }
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; 	}
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; 	}
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }



/*	--------------------------------------------------
	Alerts
	-------------------------------------------------- */

	div.alert-box { display: block; padding: 6px 7px; font-weight: bold; font-size: 13px; background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative; }
	.alert-box.success { background-color: #7fae00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	.alert-box.warning { background-color: #c08c00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	.alert-box.error { background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	
	.alert-box a.close { color: #000; position: absolute; right: 4px; top: 0; font-size: 18px; opacity: 0.2; padding: 4px; }
	.alert-box a.close:hover,.alert-box a.close:focus { opacity: 0.4; }

/*    --------------------------------------------------
    Labels
    -------------------------------------------------- */

	.label { padding: 0px 4px 2px; font-size: 11px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1;  white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #fff; background: #00a6fc; }
	.label.radius { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.label.round { padding: 1px 7px 2px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
	
	/* Colors ---------- */
	.blue.label				{ background-color: #00a6fc; }
	.red.label				{ background-color: #e91c21; }
	.green.label			{ background-color: #7fae00; }
	.white.label			{ background-color: #e9e9e9; color: #333; }
	.black.label			{ background-color: #141414; }
	

/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
		dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
		
	dl.tabs.vertical { height: auto; }
	dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; }
	dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
	dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }
	
		.nice.tabs.vertical { border-bottom: solid 1px #eee; height: auto; }
		.nice.tabs.vertical dd a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
		.nice.tabs.vertical dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.vertical dd:first-child a.active { margin: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content>li { display:none; }
    ul.tabs-content>li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0; }
    dl.contained.tabs dd a { padding: 0 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
	ul.contained.tabs-content>li { padding: 20px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
	ul.nice.contained.tabs-content>li { border-color: #eee; }
	
/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
    ul.pagination { display: block; height: 24px; margin-left: -5px; }
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #00a6fc; color: #141414; }
    ul.pagination li.unavailable a { cursor: default; color: #999; }
    ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }
    
/*  --------------------------------------------------
    Lists
    -------------------------------------------------- */
    ul.nice, ol.nice { list-style: none; margin: 0; }
    ul.nice li, ol.nice li { padding-left: 13px; position: relative }
    ul.nice li span.bullet, ol.nice li span.number { position: absolute; left: 0; top: 0; color: #ccc; }

/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel {
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}

/*	--------------------------------------------------
   	Nav Bar with Dropdowns
	-------------------------------------------------- */
	
	.nav-bar { height: 45px; background: #fff; margin-top: 20px; border: 1px solid #ddd; }	
	.nav-bar>li { float: left; display: block; position: relative; padding: 0; margin: 0; border-right: 1px solid #ddd; line-height: 45px; }
	.nav-bar>li>a.main { position: relative; padding: 0 20px; display: block; text-decoration: none; font-size: 15px; font-size: 1.5rem; }
	.nav-bar>li>input { margin: 0 16px; }
	.nav-bar>li ul { margin-bottom: 0; }
	.nav-bar>li li { line-height: 1.3; }
	.nav-bar>li.has-flyout>a.main { padding-right: 36px; }
	.nav-bar>li.has-flyout>a.flyout-toggle { position: absolute; right: 0; top: 0; padding: 22px; z-index: 2; display: block; }
	.nav-bar>li.has-flyout>a.flyout-toggle span { content: ""; width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent; border-top: 4px solid #2a85e8; display: block; }
	.flyout { background: #fff; margin: 0; padding: 20px; border: 1px solid #ddd; position: absolute; top: 45px; left: -1px; width: 400px; z-index: 10; }
	.flyout.small { width: 200px; }
	.flyout.large { width: 600px; }
	.flyout.right { left: auto; right: 0; }
	.flyout p:last-child { margin-bottom: 0; }
	.nav-bar>li .flyout { display: none; }

/*	--------------------------------------------------
   	Sub Navs
   	http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na
   	
	-------------------------------------------------- */

  dl.sub-nav {
  	display: block;
    width: auto;
    overflow: hidden;
    margin: -4px 0 18px -9px;
    padding-top: 4px;
  }

  dl.sub-nav dt, dl.sub-nav dd {
    float: left;
    display: inline;
    margin-left: 9px;
    margin-bottom: 4px;
  }

  dl.sub-nav dt {
    color: #999;
    font-weight: normal;
  }

  dl.sub-nav dd a {
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
  }
  dl.sub-nav dd.active a {
    background: #00A6FC;
    color: #fff;
    padding: 3px 9px;
  }

/*	--------------------------------------------------
   	Video
   	Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	-------------------------------------------------- */
	
	.flex-video {
		position: relative;
		padding-top: 25px;
		padding-bottom: 67.5%;
		height: 0;
		margin-bottom: 16px;
		overflow: hidden;
	}
	
	.flex-video.widescreen { padding-bottom: 57.25%; }
	.flex-video.vimeo { padding-top: 0; }
	
	.flex-video iframe,
	.flex-video object,
	.flex-video embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}



/*	--------------------------------------------------
   	Microformats
	-------------------------------------------------- */
	
	/* hCard */
	ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
	ul.vcard li { margin: 0; display: block; }
	ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }
	
	p.vevent span.summary { font-weight: bold; }
	p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }
	
	

/*	--------------------------------------------------
   	Tooltips
	-------------------------------------------------- */
	.has-tip {
	  border-bottom: dotted 1px #ccc;
	  cursor: help;
	  font-weight: bold;
	  color: #333;
	}
	.has-tip:hover {
	  border-bottom: dotted 1px #0593dc;
	  color: #0192dd;
	}
	.tooltip {
	  display: block;
	  background: rgb(0,0,0);
	  background: rgba(0,0,0,0.85);
	  position: absolute;
	  color: #fff;
	  font-weight: bold;
	  font-size: 12px;
	  font-size: 1.2rem;
	  width: auto;
	  padding: 5px 9px 7px 8px;
	  z-index: 999;
	}
	.tooltip > .nub {
	  display: block;
	  width: 0;
	  height: 0;
	  border: solid 6px;
	  border-color: transparent transparent rgb(0,0,0) transparent;
	  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
	  position: absolute;
	  top: -12px;
    left: 10px;
	}
	.tooltip.top > .nub {
	  border-color: rgb(0,0,0) transparent transparent transparent;
	  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
	  top: auto;
	  bottom: -12px;
	}
	.tooltip.left, .tooltip.right, .has-tip.left, .has-tip.right {
	  float: none !important;
	}
	.tooltip.left > .nub {
	  border-color: transparent transparent transparent rgb(0,0,0);
	  border-color: transparent transparent transparent rgba(0,0,0,0.85);
	  right: -12px;
	  left: auto;
	}
	.tooltip.right > .nub {
	  border-color: transparent rgb(0,0,0) transparent transparent;
	  border-color: transparent rgba(0,0,0,0.85) transparent transparent;
	  right: auto;
	  left: -12px;
	}
	.tooltip.radius {
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	}
	.has-tip.opened {
	  color: #0192DD !important;
	  border-bottom: dotted 1px #0593DC !important;
	}
	.tap-to-close {
	  display: block;
	  font-size: 10px;
	  font-size: 1.0rem;
	  color: #888;
	  font-weight: normal;
	}
	
