<h4>Sidebar</h4>
<h5>tags: <%= @metadata.tags %></h5>
<hr />
<ul class="side-nav">
  <li class="heading">Setup</li>
  <li><a href="#cli">What Comes with Foundation?</a></li>
  <li><a href="#sass">Sass</a></li>
  <li><a href="#rails">Rails</a></li>
  <li><a href="#mediaQueries">Media Queries</a></li>
  <li class="divider"></li>
  <li class="heading">Structure</li>
  <li><a href="#grid">The Grid</a></li>
  <li><a href="#blockGrid">Block Grid</a></li>
  <li><a href="#thumbnails">Thumbnails</a></li>
  <li><a href="#utility">Utility Classes</a></li>          
  <li><a href="#rtl">Right-to-Left Support</a></li>
  <li class="divider"></li>
  <li class="heading">Media</li>
  <li><a href="#clearing">Clearing Lightbox <span class="label">JS Required</span></a></li>
  <li>
    <% link_to "components/orbit" do %>
      Orbit Slider <span class="label">JS Required</span>
    <% end %>
  </li>
  <li><a href="#flexVideo">Flex Video</a></li>
  <li class="divider"></li>
  <li class="heading">Forms</li>
  <li><a href="#forms">Forms</a></li>
  <li><a href="#switch">Switch</a></li>
  <li><a href="#abide">Abide Validation <span class="label">JS Required</span></a></li>
  <li class="divider"></li>
</ul>