////
/// @group typography
////

/// The base line height for your typeface.
/// @type Number
$base-line-height: 1.5;

/// The cap height for your typeface. Cap height is defined as the height of a capital letter above the baseline grid.
/// @type Number
$cap-height: 0.68;

/// Define a baseline grid for an element, based on the font size, line height, and cap height of the type.
@mixin baseline($font-size, $line-height: $base-line-height, $scale: 2) {
  // Rhythm unit
  $rhythm: $line-height * $font-size / $scale;

  // Number of rhythm units that can fit the font size
  $lines: ceil(($font-size + 0.01rem) / $rhythm);

  // Calculate the new line height
  $line-height: $rhythm * $lines / $font-size;

  // Find the baseline distance
  $baseline-distance: ($line-height - $cap-height) / 2;

  // CSS output
  line-height: $line-height;
  padding-top: $baseline-distance * 1rem;
  margin-bottom: $base-line-height - $baseline-distance;
}
