////
/// @group typography-dropcaps
////

/// Default number of lines against the rest of the content  
/// @type Number
$dropcaps-lines: 3;

/// Default line height for the rest of the content
/// @type Number
$dropcaps-line-height: 1.6;

/// If `true`, makes dropcaps uppercase.
/// @type Boolean
$dropcaps-uppercase: true !default;

/// Dropcaps component
/// @param { Number } $lines [$dropcaps-lines] number of lines against the rest of the content 
/// @param { Number } $line-height [$dropcaps-line-height] Default line height for the rest of the content
/// @param { Boolean } $uppercase [$dropcaps-uppercase] If `true`, makes dropcaps uppercase.
@mixin dropcaps(
  $lines: $dropcaps-lines,
  $line-height: $dropcaps-line-height,
  $uppercase: $dropcaps-uppercase
) {
  // Default margin right (Arial/Helvetica) for having a tiny space between them through the right
  // See: http://code.stephenmorley.org/html-and-css/creating-drop-caps/
  $-margin-right: 0.0962em;
  $mt: (15 / 100); // Distance between Ascent and Top of the font
  $mb: (18 / 100); // Distance between Baseline and Bottom of the font

  // Maths variables for dropcaps
  $lh: $line-height;
  $n: $lines;
  $h: $n * $lh;

  // Maths Magic for dropcaps to calculate font size, margin top and margin bottom
  $-font-size: ($h - ($lh + $mt + $mb) + 1) / (1 - ($mt + $mb));
  $-margin-top: -($-font-size - $h) * $mt / ($mt + $mb) / $-font-size;
  $-margin-bottom: -($-font-size - $h) * $mb / ($mt + $mb) / $-font-size;

  line-height: $line-height; // Disabling default line height of an element

  &::first-letter {
    float: #{$global-left};
    margin-top: $-margin-top * 1em;
    margin-bottom: $-margin-bottom * 1em;
    margin-#{$global-right}: $-margin-right;
    font-size: $-font-size * 1em;
    line-height: 1;

    @if $uppercase {
      text-transform: uppercase;
    }
  }
}

@mixin foundation-dropcaps {
  // Use to create an initial aka dropcap
  .dropcaps {
    @include dropcaps();
  }
}
