// Default font size for lead paragraphs.
// @type Number
$lead-font-size: $paragraph-font-size * 1.25 !default;

// Default line height for lead paragraphs.
// @type String
$lead-lineheight: 1.6 !default;

// Default line height for subheaders.
// @type Number
$subheader-lineheight: 1.4 !default;

// Default font color for subheaders.
// @type Color
$subheader-color: scale-color($header-color, $lightness: 35%) !default;

// Default font weight for subheaders.
// @type String
$subheader-font-weight: $font-weight-normal !default;

// Default top margin for subhheaders.
// @type Number
$subheader-margin-top: .2rem !default;

// Default bottom margin for subheaders.
// @type Number
$subheader-margin-bottom: .5rem !default;

// Default font size for statistic numbers.
// @type Number
$stat-font-size: 2.5rem !default;

@mixin foundation-typography-helpers {
  .lead {
    font-size: $lead-font-size;
    line-height: $lead-lineheight;
  }
  
  .subheader {
    margin-top: $subheader-margin-top;
    margin-bottom: $subheader-margin-bottom;
    font-weight: $subheader-font-weight;
    line-height: $subheader-lineheight;
    color: $subheader-color;
  }

  .stat {
    font-size: $stat-font-size;
    line-height: 1;

    p + & {
      margin-top: -1rem;
    }
  }

  ul {
    &.square,
    &.circle,
    &.disc {
      li ul { list-style: inherit; }
    }

    &.square {
      list-style-type: square;
      margin-#{$default-float}: $list-side-margin;
    }

    &.circle {
      list-style-type: circle;
      margin-#{$default-float}: $list-side-margin;
    }

    &.disc { 
      list-style-type: disc;
      margin-#{$default-float}: $list-side-margin;
    }

    &.no-bullet {
      list-style: none;
      margin-#{$default-float}: $list-side-margin-no-bullet;
    }
  }
}