.is-drilldown {
  position: relative;
  overflow: hidden;
}

.is-drilldown-sub {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background: $white;
  transition: transform 0.15s linear;

  &.is-active {
    transform: translateX(-100%);
  }
}

// .js-drilldown-back {
// }
