.dropdown.menu-bar {
  .has-submenu {
    position: relative;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
    white-space: nowrap;
    background: $body-background;
    z-index: 1;

    &:not(.js-dropdown-nohover) > .has-submenu:hover > &,
    &.js-dropdown-active {
      display: block;
    }
  }

  &.vertical{
    width: 100px;
    & > li .submenu {
      top: 0;
      left: 100%;
    }
  }
}
