.dropdown-pane {
  width: 400px;
  padding: 1rem;
  border: 1px solid $medium-gray;
  position: absolute;
  background-color: $body-background;
  opacity: 1;
  z-index: 10;
  display: block;
  // display: none;
  visibility: hidden;
}
.dropdown-pane.open {
  visibility: visible;
}
