@mixin foundation-media-object {
  .media-object {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    display: block;
    img {
      max-width: none;
    }
    .media-item {
      display: table-cell;
      vertical-align: top;
      &:last-child {
        padding-left: 1rem;
      }
      &:first-child {
        padding-right: 1rem;
      }
      @include breakpoint(small only) {
      .stack-for-small {
        
          display: block;
          bottom: 3px solid red;
        }
      }
    }
    .media-content {
      display: table-cell;
      vertical-align: top;
      .media-title {
        padding-top: 0;
      }
      @include breakpoint(small only) {
      .stack-for-small {
          display: block;
        }
      }
    }
    .middle {
      vertical-align: middle;
    }
    .bottom {
      vertical-align: bottom;
      // adjust for bottom margin on media-object
      padding-bottom: 1rem;
    }
  }
}
