$menu-width: 250px;

body {
  height: 100%;
  overflow-x: hidden;
}

.off-canvas-overlap {
  &.is-off-canvas-open .main-content {
    transform: none;
  }
}

// Nav Menu (Default: off-canvas)
.off-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: $menu-width;
  min-height: 100%;
  background: white;
  transform: translateX(-$menu-width);
  transition: transform 0.5s ease;
  z-index: 1000;
}

.main-content {
  transition: transform 0.5s ease;
}

.is-off-canvas-open {
  backface-visibility: hidden; // Triggers hardware acceleration

  .off-canvas {
    transform: translate3d(0, 0, 0);
  }

  .main-content {
    transform: translateX($menu-width);
  }
}

@each $name, $value in $breakpoint-classes {
  .reveal-for-#{$name} {
    @include breakpoint($name) {
      .off-canvas {
        transform: none;
        transition: none;
      }

      .main-content {
        padding-left: $menu-width;
        transform: none;
      }
    }
  }
}

.js-off-canvas-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  .is-off-canvas-open & {
    display: block;
  }
}
