$menu-width: 300px;

body {
  overflow-x: hidden;
}

//Container
.container {
 // prevents horizontal scroll from showing during off-canvas nav transitions  
}

// Nav Menu (Default: off-canvas)
.off-canvas {
  position: fixed; // used absolute positioning rather than negative margin to keep nav inside the container block
  top: 0;
  left: 0;
  transform: translate3d(-$menu-width,0,0);
  width: $menu-width;
  min-height: 100%;
  transition: all .5s ease;
  background: red;
  &.is-active {
  }
}

.container {
  &.off-canvas-is-active {
    transform: translate3d($menu-width,0,0);
  }
}

// Off-Canvas Menu Transitions
// If browser supports 3d transformations and transitions, use a nice sliding effect
@include breakpoint(medium) {
  .csstransforms3d.csstransitions {
    .off-canvas,
    [role="banner"],
    [role="main"],
    [role="navigation"] {
      left: 0;
      transform: translate3d(-100%,0,0); 
    }
    .active-nav [role="navigation"] {
      transform: translate3d(0,0,0);  
    }
    
    //Position banner and main
    .active-nav {
      [role="banner"],
      [role="main"] {
        margin-left: 0;
        transform: translate3d($menu-width,0,0);
      }
    }
  }
}