////
/// @group pagination
////
/*
/// Default bottom margin of the media object.
/// @type {Number|List}
$pagination-margin-bottom: 1rem !default;

/// Default left & right padding of the media item.
/// @type {Number|List}
$pagination-padding: 1rem !default;

/// Default media title heading padding of the media item.
/// @type {Number|List}
$pagination-padding: 0 !default;

/// Default media object image width on small. Set to 'auto' for original width.
/// @type {Number|List}
$pagination: 100% !default;

/// Default media object image margin bottom on small.
/// @type {Number|List}
$pagination: 1rem !default;
*/

// Container
.pagination {
  @include clearfix;
  display: block;
  margin-left: 0;

  // List item
  li {
    font-size: rem-calc(14);
    margin-right: rem-calc(1);
    display: none;

    &:last-child,
    &:first-child {
      display: inline-block;
    }
  }

  // Page links
  a,
  button {
    color: $black;
    display: block;
    font-weight: normal;
    padding: rem-calc(3 10);

    &:hover {
      background: $light-gray;
    }
  }

  // Current page
  .current {
    a,
    button {
      background: $primary-color;
      color: $white;
      cursor: default;
      font-weight: bold;
    }
  }

  // Disabled item
  .disabled {
    a,
    button {
      color: $medium-gray;
      cursor: default;
    }

    &:hover {
      a,
      button {
        background: transparent; 
      }
    } 
  }

  // Previous page
  [aria-label="previous"] { 
    &::before {
      content: "«";
      display: inline-block;
      margin-right: 0.75rem; 
    }
  }

  // Next page
  [aria-label="next"] { 
    &::after {
      content: "»";
      display: inline-block;
      margin-left: 0.75rem;
    }
  }

  // Ellipsis
  .ellipsis::after {
    color: #999999;
    content: "…";
    position: relative;
    display: inline-block;
    padding: rem-calc(2 10);
  }

  // Styles for larger screens
  @include breakpoint(medium) {
    li {
      display: inline-block;
    }
  }
}

.pagination-centered {
  text-align: center;
}

/* Accessibility - hides the arrow */
[aria-label="pagination"] [aria-hidden="true"]:before {
  content: "«";
}

/* Accessibility - hides the arrow */
[aria-label="pagination"] [aria-hidden="true"]:after {
  content: "»";
}

[aria-label="pagination"] [aria-hidden="true"]:after {
  content: "…";
}
