$slider-height: 1rem;
$slider-handle-height: 2rem;
$slider-handle-width: 2rem;
$slider-handle-color: $primary-color;
$slider-disabled-fade: 80%;
$slider-fill-color: $medium-gray;

$vertical-slider-width: 1rem;

.slider {
  background: $dark-gray;
  position: relative;
  display: block;
  width: 100%;
  height: $slider-height;
  margin: 1.25rem 0; 
  touch-action: none;
}

.slider-fill {
  background: $slider-fill-color;
  display: inline-block;
  height: $slider-height;
  position: absolute; 
}

.slider-handle {
  background: $slider-handle-color; 
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  height: $slider-handle-height;
  width: $slider-handle-width;
  @include v-align-middle;
  touch-action: manipulation;

  &:hover {
    background: scale-color($slider-handle-color, $lightness: -15%); 
  }
}

.slider.disabled, .slider[disabled] {
  cursor: not-allowed;
  background: scale-color($dark-gray, $lightness: $slider-disabled-fade);
  
  .slider-fill {
    background: scale-color($slider-fill-color, $lightness: $slider-disabled-fade);
  }

  .slider-handle {
    background: scale-color($slider-handle-color, $lightness: $slider-disabled-fade);
    &:hover {
      background: scale-color($slider-handle-color, $lightness: $slider-disabled-fade);  
    }
  }
}

.slider.vertical {
  display: inline-block;
  height: 12.5rem;
  width: $vertical-slider-width; 

  .slider-fill {
    bottom: 0;
    height: auto;
    width: 0.875rem; 
  }

  .slider-handle {
    bottom: -10.5rem;
    margin-left: -0.5rem;
    margin-top: 0;
    position: absolute; 
  }
}


