// Default margin of the tab bar.
// @type {Number|List}
$tab-margin: 0 !default;

// Default background color of a tab bar.
// @type Color
$tab-background: #eee;

// Default border color of tab content.
// @type Color
$tab-border: #eee !default;

// Default text color for items in a menu bar.
// @type Color
$tab-item-color: foreground($tab-background, $primary-color);

// Default background color on hover for items in a menu bar.
$tab-item-background-hover: #fff !default;

// Default padding for items in a menu bar.
// @type {Number|List}
$tab-item-padding: 1.25rem 1rem !default;

// Maximum number of `expand-n` classes to include in the CSS.
// @type Number
$tab-expand-max: 6 !default;

// Default background color of tab content.
// @type Color
$tab-content-background: #fff !default;

// Default border color of tab content.
// @type Color
$tab-content-border: #eee !default;

// Default text color for items in a menu bar.
// @type Color
$tab-content-color: foreground($tab-background, $primary-color);

// Default padding for items in a menu bar.
// @type {Number|List}
$tab-content-padding: 1rem !default;

.tabs {
  margin: $tab-margin;
  list-style-type: none;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
  background: $tab-background;
  border: 1px solid $tab-content-border;
  border-bottom: none;
  
  &:after {
    content:'';
    position: absolute;
    right: 0;
    top:0;
    height: 56px;
    width:1.25rem;
    background: linear-gradient(to right, rgba(#eee ,0) 0%, rgba(#eee,1) 100%);
  }
  // Default
  > li {
    display: inline-block;

    > a {
      display: block;
      padding: $tab-item-padding;
      line-height: 1;
      color: $tab-item-color;

      &:hover,
      &:focus {
        background: $tab-item-background-hover;
      }
    }
  }

  // Hover/active state
  > .is-active > a {
    background: $tab-item-background-hover;
  }

  // Simple
  &.simple {
    > li > a {
      padding: 0;

      &:hover {
        background: transparent;
      }
    }
  }

  // Vertical
  &.vertical {
    float: left;
    width: 25%;
    margin-right:1rem;
    > li {
      width: 100%;
      float: none;
      display: block;
      white-space: normal;
      overflow-x: auto;
    }
  }

  // Primary color
  &.primary {
    background: $primary-color;

    > li > a {
      color: foreground($primary-color);

      &:hover,
      &:focus {
        background: smart-scale($primary-color);
      }
    }
  }
}

.tabs-content {
  background: $tab-content-background;
  transition: all .5s ease;
  border: 1px solid $tab-content-border;
  border-top: none;
  .content {
    height: 0;
    opacity: 0;
    transition: all .5s ease;
    &.is-active {
      padding: $tab-content-padding;
      height: auto;
      opacity: 1;
    }
  }
}

.vertical + .tabs-content {
  border: 0;
  .content.is-active {
    padding-top:0;
  }
}


