.has-tip {
  border-bottom: dotted 1px #CCCCCC;
  font-weight: bold;
  position: relative;
  display: inline-block;
  
  &:before, &:after {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  &:after {
    background-color: $black;
    color: $white;
    content: attr(title);
    top: 5px;
    margin-top: 1.3rem;
    min-width: 250px;
    max-width: 450px;
    opacity: 0.9;
    padding: 10px 10px;
    font-size: 14px;
  }

  &:hover:before, &:hover:after {
    display: block;
  }

  &:hover {
    cursor: help;
  }

  &.tip-top:after {
    top: auto; 
    bottom: 0;
    margin-bottom: 1.3rem;
  }

  &.tip-left:after, &.tip-right:after {
    bottom: auto;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &.tip-right:after {
    left: calc(100% + 5px);
    right: auto;
  }

  &.tip-left:after {
    left: auto;
    right: calc(100% + 5px);
  }

}
