/*doc
---
title: Typography
name: typography
category: typography
---

Typography!

# Header 1
## Header 2
### Header 3
#### Header 4
##### Header 5
*/

////
/// @group typography
////

// scss-lint:disable DeclarationOrder

// Base typography styles (tags only)
@import 'base';

// Typography helper classes (classes only)
@import 'helpers';

// Text alignment classes
@import 'align';

// Baseline grid mixins
@import 'baseline-grid';

// Modular scale mixins
@import 'modular-scale';

// Print styles
@import 'print';

@mixin foundation-typography {
  @include foundation-typography-base;
  @include foundation-typography-helpers;
  @include foundation-text-alignment;
  @include foundation-print-styles;
}
