<h2>Welcome to Foundation!</h2>

<p>All documentation should be placed here.</p>

{{#markdown}}
```ruby
puts "hello world!"
```

```js
var name = "Mark";
```
{{/markdown}}

<div class="row">
  <div class="large-9">
</div>