/* Artfully masterminded by ZURB  /
 
 
/* -----------------------------------------
   Foundation-specific presentation CSS
----------------------------------------- */


body { padding-bottom: 60px; }
.row { max-width: 1200px; }

div.foundation-header { margin: 0 0 40px 0; padding: 30px 0 0 0; border-bottom: solid 1px #ccc; }
div.foundation-header h1 { margin-bottom: 0; padding: 0; }
div.foundation-header h1 a { color: #181818; }
div.foundation-header h1 a:hover { color: #181818; }
div.foundation-header .subheader { margin-bottom: 9px; }

div.highlight { margin-bottom: 12px; }

#mobileNav { padding: 6px 10px; position: absolute; top: -5px; right: -5px; }
#navModal { padding-bottom: 10px; }
#navModal dl.tabs { margin-left: -20px; margin-right: -20px; margin-bottom: 0; }
#navModal dl.tabs dd a { padding-top: 10px; padding-bottom: 10px; background: rgba(255,255,255,0.5); }

img.beta { position: absolute; top: 0px; right: 0px; }

/* Footer */
footer.row {
  margin-top: 80px;
  border-top: solid 1px #e6e6e6;
  padding-top: 20px; }
footer.row h6 {
  color: #6f6f6f;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4px; }
footer.row p {
  color: #626262;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px; }
footer.row a {
  color: #222222; }
footer.row a:hover {
  text-decoration: underline; }
  


.row.display { background: #f4f4f4; margin-bottom: 10px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.row.display .column, .row.display .columns { background: #e7e7e7; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/* ZURB bar */
#zurBar {
  background: #222222;
  border-bottom: solid 4px #00a5ff;
  padding: 15px 20px 13px 20px; }
  
@media handheld, only screen and (max-width: 767px) {
  #zurBar {
    padding-left: 20px;
    padding-right: 20px; }
}

#zurBar h1, #zurBar h2 {
  margin-bottom: 0;
  line-height: 1; }
#zurBar h1 {
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 800; }
#zurBar h1 a { color: #fff; font-weight: bold; }
#zurBar h2 a {
  text-indent: -99999px;
  display: block;
  width: 82px;
  height: 14px;
  background: url('../images/by-zurb.png'); }
  

#zurBar strong { display: block; margin: 0; padding: 0; height: 14px; line-height: 14px; position: relative; bottom: 4px; }
#zurBar strong a {
  line-height: 14px;
  color: #fff;
  font-weight: 500;
  padding-right: 12px;
}
#zurBar strong a.button { padding: 4px 10px; font-weight: bold; }


/* -----------------------------------------
   Orbit Demo CSS
----------------------------------------- */
/* stuff for ZURB demo but not needed at all for orbit */

#orbitDemo .content {
	background: url(../images/orbit-demo/coffee.jpg);
}
#orbitDemo .content h1 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #2f260f; 
	font-weight: bold !important;
	text-transform: uppercase; 
	text-shadow: 
		1px 1px 0 #f8f0d1,
		2px 2px 0 #f8f0d1,
		3px 3px 0 #1a5774;
	text-align: center; 
	margin-top: 15%;
}
#orbitDemo .content h3 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #7f6b37; 
	font-weight: bold !important;
	text-align: center; 
}

#orbitDemo { background: url(../images/spinner.gif) no-repeat center center #000; height: 305px; margin-bottom: 20px; }
#orbitDemo.orbit { height: auto; }
#orbitDemo img, #orbitDemo div { display: none; }
#orbitDemo.orbit img, #orbitDemo.orbit div { display: block; }

@media handheld, only screen and (max-width: 767px) {

	#orbitDemo { height: 165px; }
	#orbitDemo.orbit { height: auto; }

	dl.nice.tabs.mobile { margin-bottom: 0px; }
	.nice.tabs.mobile dd a { padding: 12px 20px; }
	
	div.foundation-header h1 { font-size: 32px; font-size: 3.2rem; }
	
	div.slider-nav span { height: 50px; width: 39px; background-size: 100% auto; margin-top: -25px; }
}




/* ZURBjobs */

.jobs { border: 1px solid #eee; padding: 20px; }
.jobs .location { display: block; color: #555; }
.jobs ul { margin-bottom: 0px; }
.jobs h5 { font-weight: bold; font-size: 15px; margin-bottom: 10px; }

.jobs-link { font-size: 13px !important; white-space: nowrap;  text-decoration: underline; font-weight: inherit; margin-bottom: 20px;}
.jobs-link a { color: # 555 !important;}

.jobs a#via { color: #aaa ;}
.jobs a#via:hover { color: #555;}




/* Font-Face */
@font-face {
font-family: 'Proxima';
	src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-style: italic;
	src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 300;
	src: url(../fonts/proximanova-light-webfont.eot?1307578394);
	src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
	src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 900;
	src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima", "Helvetica Neue", "Helvetica", Arial, sans-serif; }