/* Artfully masterminded by ZURB  /
 
 
/* -----------------------------------------
   Foundation-specific presentation CSS
----------------------------------------- */


body { padding-bottom: 60px; }
.row { width: 1440px; }

h1, h2, h3, h4, h5 { font-family: "OpenSans"; font-weight: 500; }

header .subheader { position: relative; top: -18px; }

.row.display { background: #f4f4f4; margin-bottom: 10px; }
.row.display .column, .row.display .columns, .block-grid li { background: #e7e7e7; border: 1px solid #ddd; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; }

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5 { font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; }

.gist .gist-file { border-radius: 3px; }
.gist .gist-file .gist-data { background: #f9f9f9 !important; border-radius: 3px; }
.gist-data pre { font-size: 13px; font-size: 1.3rem; line-height: 18px; }
.gist .gist-file .gist-data { border-bottom: none !important; }
.gist .gist-file .gist-meta { background: #fff !important; border: none !important; color: #ccc !important; padding-top: 11px !important; }
.gist .gist-file .gist-meta a { color: #999 !important; }
.gist .gist-file .gist-meta a:hover { text-decoration: underline; }

.glyph { cursor: default; font-size: 16px; line-height: 1; font-family: "FoundationIconsGeneralEnclosed"; }
.glyph.success { color: #5b8737; }
.glyph.failure { color: #e91c21; }
.glyph.social { font-family: "FoundationIconsSocial"; font-size: 24px; }

.row.support { margin-bottom: 11px; }
.row.support .glyph { font-size: 18px; font-size: 1.8rem; position: relative; bottom: 5px; }

#featuredContent { background: #f4f4f4; }
#featuredContent div { background: #f4f4f4; padding: 30px 60px; }

/* Top bar */
.container.top-bar { margin-bottom: 0; }
.top-bar { -webkit-box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; -moz-box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; box-shadow: rgba(0,0,0,0.0976562) 0px 5px 5px; border-bottom: none; }
.top-bar .attached { width: auto; max-width: 1440px; padding: 0 15px; }
.top-bar li { margin-bottom: 0; line-height: 46px; }
.top-bar .attached > ul.right > li.download { border-right: 0; }
.top-bar .attached > ul.right > li.download a { padding: 6px 13px 6px; }
.top-bar .small.button { height: auto; top: 10px; }
.top-bar a:hover { color: white; }
.top-bar .attached > ul.right > li.download:hover > a { background-color: #2284A1; }

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .top-bar .attached > .name span > a.toggle-nav { background-image: url(../images/plus-toggle-2-retina.png); background-size: 100% 100%; }
}

#megaDrop li { list-style: none; }
#megaDrop .show-on-phones, #megaDrop .sitemap-link { display: none !important; }

@media handheld, only screen and (max-width: 767px) {

	header { border-bottom: 1px solid #ddd; position: relative; }
	header .subheader { margin-bottom: 0; }
	
	header .menu-action { float: left; position: relative; top: 1px; margin-top: -12px; }
	header .menu-action .button.small { padding: 8px; }
	header .menu-action .button.small svg { opacity: 0.5; }
	
	header h1 { font-size: 27px; font-size: 2.7rem; margin-bottom: 18px; }
	header h4 { font-size: 17px; font-size: 1.7rem; }
}


/* Off Canvas */

body.off-canvas { padding: 0; margin: 0; }
.container { width: 100%; }

.row { overflow: hidden; }
.row .row { overflow: visible; }

.paneled .container { overflow: hidden; }
.paneled .row { width: 100%; }

[role="main"]:before { content: " "; position: absolute; z-index: -1; top: 0; left: -100%; width: 100%; height: 100%; }
[role="complementary"], [role="main"] { width: 100%; padding: 0 15px; display: block; position: relative; z-index: 1; -webkit-transition: 0.25s all ease-in; -moz-transition: 0.25s all ease-in; -ms-transition: 0.25s all ease-in; -o-transition: 0.25s all ease-in; transition: 0.25s all ease-in; }
.paneled [role="main"] { padding: 0; }

.page-panel { width: 100%; padding: 0 15px; -webkit-transition: 0.3s margin ease-in-out; -moz-transition: 0.3s margin ease-in-out; -ms-transition: 0.3s margin ease-in-out; -o-transition: 0.3s margin ease-in-out; transition: 0.3s margin ease-in-out; background: #fff; }
#switchPanels { margin: 0 -15px; }

.hide-extras [role="complementary"] { display: block; }

[role="navigation"]#topMenu { -webkit-transition: 0.25s all ease-in; -moz-transition: 0.25s all ease-in; -ms-transition: 0.25s all ease-in; -o-transition: 0.25s all ease-in; transition: 0.25s all ease-in; }
[role="navigation"]#topMenu ul { margin-top: 0; }
[role="complementary"] { margin-left: -100%; width: 80%; float: left; z-index: 2; }
[role="main"] { margin-left: 0; float: right; z-index: 1; position: relative; }

.paneled [role="main"] { background: #fff; width: 500%; overflow: hidden; float: none; position: relative; left: 0; -webkit-transition: 0.15s all ease-in; -moz-transition: 0.15s all ease-in; -ms-transition: 0.15s all ease-in; -o-transition: 0.15s all ease-in; transition: 0.15s all ease-in; }
.page-panel { min-height: 400px; float: left; margin: 0; width: 20%; }

.active [role="complementary"] { margin-left: 0; }
.active [role="main"] { margin-right: -80%; }
.active-menu [role="navigation"]#topMenu { margin-top: 0 !important; }

@media all and (min-width: 768px) { menu-button, .sidebar-button { display: none; }
  [role="complementary"] { width: 20%; margin-left: 0; float: left; padding: 0 15px; }
  [role="main"] { width: 80%; padding: 0 15px; }
  .paneled [role="main"] { width: 100%; padding: 0; background: #f4f4f4; left: 0 !important; }
  .page-panel { display: block; min-height: 800px; float: none; margin: 0; width: 100%; background: #f4f4f4; }
  .hide-extras [role="main"] { width: 100%; }
  .hide-extras [role="complementary"] { display: none; }
  [role="navigation"]#topMenu { display: none; } 
}



/* -----------------------------------------
   Orbit Demo CSS
----------------------------------------- */
/* stuff for ZURB demo but not needed at all for orbit */

#orbitDemo .content {
	background: url(../images/orbit-demo/coffee.jpg);
}
#orbitDemo .content h1 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #2f260f; 
	font-weight: bold !important;
	text-transform: uppercase; 
	text-shadow: 
		1px 1px 0 #f8f0d1,
		2px 2px 0 #f8f0d1,
		3px 3px 0 #1a5774;
	text-align: center; 
	margin-top: 15%;
}
#orbitDemo .content h3 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #7f6b37; 
	font-weight: bold !important;
	text-align: center; 
}

#orbitDemo { background: url(../images/spinner.gif) no-repeat center center #000; height: 305px; margin-bottom: 20px; }
#orbitDemo.orbit { height: auto; }
#orbitDemo img, #orbitDemo div { display: none; }
#orbitDemo.orbit img, #orbitDemo.orbit div { display: block; }

@media handheld, only screen and (max-width: 767px) {

	#orbitDemo { height: 165px; }
	#orbitDemo.orbit { height: auto; }

	dl.nice.tabs.mobile { margin-bottom: 0px; }
	.nice.tabs.mobile dd a { padding: 12px 20px; }
	
	div.foundation-header h1 { font-size: 32px; font-size: 3.2rem; }
	
	div.slider-nav span { height: 50px; width: 39px; background-size: 100% auto; margin-top: -25px; }
}




/* ZURBjobs */

.jobs { border: 1px solid #eee; padding: 10px 20px 20px; }
.jobs .location { display: block; color: #555; }
.jobs ul { margin-bottom: 0px; }
.jobs ul li { list-style: none; margin-bottom: 12px; }
.jobs h5 { font-weight: 600; font-size: 15px; font-size: 1.5rem; margin-bottom: 10px; }

.jobs-link { font-size: 13px !important; white-space: nowrap;  text-decoration: underline; font-weight: inherit; margin-bottom: 20px;}
.jobs-link a { color: # 555 !important;}

.jobs a#via { color: #aaa ;}
.jobs a#via:hover { color: #555;}



@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: light;
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: light;
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: bold;
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: italic;

}

/* Foundation Icons General Enclosed */
@font-face {
    font-family: 'FoundationIconsGeneralEnclosed';
    src: url('../fonts/foundation-icons-general-enclosed.eot');
    src: url('../fonts/foundation-icons-general-enclosed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-general-enclosed.woff') format('woff'),
         url('../fonts/foundation-icons-general-enclosed.ttf') format('truetype'),
         url('../fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'FoundationIconsSocial';
    src: url('../fonts/foundation-icons-social.eot');
    src: url('../fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-social.woff') format('woff'),
         url('../fonts/foundation-icons-social.ttf') format('truetype'),
         url('../fonts/foundation-icons-social.svg#FoundationIconsGeneralEnclosed') format('svg');
    font-weight: normal;
    font-style: normal;

}
