/* Arfully Masterminded by ZURB */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Typography
:: Links
:: Lists
:: Mobile-Friendly Grid
:: Tables
:: Misc
*/


/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0b1 | 201101 
	   NOTE: WORK IN PROGRESS
	   USE WITH CAUTION AND TEST WITH ABANDON */
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video { 
		margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
	}
	html { font-size: 62.5%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
	
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section { display: block; }
	body { line-height: 1; }
	ol, ul { list-style: none; }
	
	audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after { content: ''; content: none; }
	:focus { outline: none; }
	
	ins { text-decoration: none; }
	del { text-decoration: line-through; }
	table { border-collapse: collapse; border-spacing: 0; }
	
	
	
	body { background: #fff; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px; line-height: 18px; color: #555; position: relative; -webkit-font-smoothing: antialiased; }
	

/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
	h1, h2, h3, h4, h5, h6 { color: #181818; font-weight: bold; line-height: 1.25 }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; font-size: 4.6rem; margin-bottom: 12px;}
	h2 { font-size: 35px; font-size: 3.5rem; margin-bottom: 9px; }
	h3 { font-size: 28px; font-size: 2.8rem; margin-bottom: 9px; }
	h4 { font-size: 21px; font-size: 2.1rem; margin-bottom: 3px; }
	h5 { font-size: 18px; font-size: 1.8rem; font-weight: normal; margin-bottom: 3px;  }
	h6 { font-size: 15px; font-size: 1.5rem; font-weight: normal; }

	.subheader { color: #777; font-weight: 300; margin-bottom: 24px; }

	p { line-height: 17px; margin: 0 0 18px; }
	p img { margin: 0; }
	p.lead { font-size: 1.8rem; font-size: 18px; line-height: 24px;  }
	
		/* Mobile */
		
		@media handheld, only screen and (max-width: 767px) {
			body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; }
		}
	
	em { font-style: italic; line-height: inherit; }
	strong { font-weight: bold; line-height: inherit; }
	small { font-size: 0.8rem; line-height: inherit; }
	
/*	Blockquotes  */
	blockquote, blockquote p { line-height: 20px; color: #777; }
	blockquote { margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 12px 0 18px; height: 0; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }

	/**
 	 * Print styles.
	 *
	 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
	 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
	 */
	@media print {
	  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	  p a, p a:visited { color: #444 !important; text-decoration: underline; }
	  p a[href]:after { content: " (" attr(href) ")"; }
	  abbr[title]:after { content: " (" attr(title) ")"; }
	  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	  tr, img { page-break-inside: avoid; }
	  @page { margin: 0.5cm; }
	  p, h2, h3 { orphans: 3; widows: 3; }
	  h2, h3{ page-break-after: avoid; }
	}


/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #2a85e8; text-decoration: none; outline: 0; line-height: inherit; }
	a:hover { color: #11639d; }
	p a, p a:visited { line-height: inherit; }
	

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul, ol { margin-bottom: 18px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ol ol { margin: 4px 0 5px 30px; }
	li { margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	
	
/* --------------------------------------------------
	:: Mobile First Grid
	-------------------------------------------------- */

	.container { padding: 0px 20px; }
	
	.row { width: 100%; max-width: 940px; min-width: 727px; margin: 0 auto; }
	.row .row { min-width: 0px; }
	
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0px; }
	
	.row .one.columns { width: 4.3%; }
	.row .two.columns { width: 13%; }
	.row .three.columns { width: 21.7%; }
	.row .four.columns { width: 30.4%; }
	.row .five.columns { width: 39.1%; }
	.row .six.columns { width: 47.8%; }
	.row .seven.columns { width: 56.5%; }
	.row .eight.columns { width: 65.2%; }
	.row .nine.columns { width: 73.9%; }
	.row .ten.columns { width: 82.6%; }
	.row .eleven.columns { width: 91.3%; }
	.row .twelve.columns { width: 100%; }
	
	.row .offset-by-one 	{ margin-left: 8.7%;  }
	.row .offset-by-two 	{ margin-left: 17.4%;  }
	.row .offset-by-three 	{ margin-left: 26.1%;  }
	.row .offset-by-four 	{ margin-left: 34.8%;  }
	.row .offset-by-five 	{ margin-left: 43.5%;  }
	.row .offset-by-six 	{ margin-left: 52.2%;  }
	.row .offset-by-seven 	{ margin-left: 60.9%;  }
	.row .offset-by-eight 	{ margin-left: 69.6%;  }
	.row .offset-by-nine 	{ margin-left: 78.3%;  }
	.row .offset-by-ten 	{ margin-left: 87%;  }
	.row .offset-by-eleven 	{ margin-left: 95.7%;  }
	
	img, object, embed { max-width: 100%; }
	img { height: auto; }
	
	
	
		/* Tablet screens */
		@media handheld, only screen and (device-width: 768px), (device-width: 800px) {
			/* Currently unused */
		}
		
		
		/* Mobile */
		@media handheld, only screen and (max-width: 767px) {
			body { -webkit-text-size-adjust: none; }
			
			.row, body, .container { width: 100%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
			.row .row .column, .row .row .columns { padding: 0; }
			.column, .columns { width: auto !important; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
			.column:last-child, .columns:last-child { margin-right: 0px; }
			.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .offset-by-five-five { margin-left: 0% !important; }
		}
		
		
	
	/* Clear the columns automagically */
	 .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	 * html .row, * html .clearfix { height: 1%; }
	 .row, .clearfix { display: inline-block; }
	 .row, .clearfix { display: block; }



/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 100%; margin: 0 0 18px; border: 1px solid #ddd;  }
	
	table thead { background: #555; }
	table thead tr th,
	table tbody tr td { font-size: 12px; line-height: 18px; text-align: left; }
	table thead tr {  }
	table thead tr th { padding: 8px 10px 9px; font-size: 14px; font-weight: bold; color: #fff; }
	table tbody {  }
	table tbody tr {  }
	table tbody tr.even,
	table tbody tr.alt { background: #f5f5f5; }
	body.safari table tbody tr:nth-child(even) { background: #f5f5f5; }
	table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }
	

	/* Style the tables a bit lighter */
	table.alt { }
	table.alt thead { background: #f5f5f5; }
	table.alt thead tr th { color: #222; }
	table.alt thead tr th:first-child { border-left: none; }
	table.alt thead tr th:last-child { border-right: none; }

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left       { float: left; }
	.right      { float: right; }
	.hide     	{ display: none; }
	.highlight 	{ background: #ff0; }
	

/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
	
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none; }
	
	
	@media handheld, only screen and (device-width: 768px), only screen and (device-width: 1280px), only screen and (device-width: 800px) {
		.hide-on-phones { display: block !important; }
		.hide-on-tablets { display: none !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: none !important; }
		.show-on-tablets { display: block !important; }
		.show-on-desktops { display: none !important; }
	}
	
		
	@media handheld, only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}
	