<html>

<head>
  <title>Supercollider Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css"></link>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <style>
    h1[id] {
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5rem;
      margin-bottom: 1.5rem;
    }
    code[class*="lang-"] {
      display: block;
      padding: 0.75rem;
      margin-bottom: 1.5rem;
    }
  </style>
</head>

<body>
  <div class="contain-to-grid" style="margin-bottom: 2rem">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">Supercollider</a></h1></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="medium-4 large-3 columns">
      <ul class="side-nav">
        {{#each components}}
        <li><a href="{{this}}.html">{{toUpper this}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="medium-8 large-9 columns">
      {{ body }}
    </div>
  </div>
</body>

</html>