@mixin foundation-form-checkbox {
  input[type="file"],
  input[type="checkbox"],
  input[type="radio"],
  select {
    margin: 0 0 $form-spacing 0;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block;
    margin-left: $form-spacing * 0.5;
    margin-right: $form-spacing;
    margin-bottom: 0;
    vertical-align: baseline;
  }

  label > input[type="checkbox"],
  label > input[type="label"] {
    margin-right: $form-spacing * 0.5;
  }

  // Normalize file input width
  input[type="file"] {
    width: 100%;
  }
}
