$input-error-message-padding: rem-calc(6 9 9) !default;
$input-error-message-top: -1px !default;
$input-error-message-font-size: rem-calc(12) !default;
$input-error-message-font-weight: $font-weight-normal !default;
$input-error-message-font-style: italic !default;
$input-error-message-font-color: #fff !default;
$input-error-message-bg-color: $alert-color !default;
$input-error-message-font-color-alt: #333 !default;

// @MIXIN
//
// We use this mixin to control border and background color of error inputs
// $color - Default: $alert-color (found in settings file)
@mixin form-error-color($color:$alert-color) {
  border-color: $color;
  background-color: rgba($color, .1);

  // Go back to normal on focus
  &:focus {
    background: $input-focus-bg-color;
    border-color: $input-focus-border-color;
  }
}

// @MIXIN
//
// We use this simple mixin to style labels for error inputs
// $color - Default:$alert-color. Found in settings file
@mixin form-label-error-color($color:$alert-color) { color: $color; }

// @MIXIN
//
// We use this mixin to create error message styles
// $bg - Default: $alert-color (Found in settings file)
@mixin form-error-message($bg:$input-error-message-bg-color) {
  display: block;
  padding: $input-error-message-padding;
  margin-top: $input-error-message-top;
  margin-bottom: $form-spacing;
  font-size: $input-error-message-font-size;
  font-weight: $input-error-message-font-weight;
  font-style: $input-error-message-font-style;

  // We can control the text color based on the brightness of the background.
  $bg-lightness: lightness($bg);
  background: $bg;
  @if $bg-lightness < 70% or $bg == yellow { color: $input-error-message-font-color; }
  @else { color: $input-error-message-font-color-alt; }
}

@mixin foundation-form-error {
  #{data('abide')} {
    .error small.error, .error span.error, span.error, small.error {
      @include form-error-message;
    }
    span.error, small.error { display: none; }
  }

  span.error, small.error {
    @include form-error-message;
  }

  .error {
    input,
    textarea,
    select {
      margin-bottom: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin-bottom: $form-spacing
    }

    label,
    label.error {
      @include form-label-error-color;
    }

    small.error {
      @include form-error-message;
    }

    > label {
      > small {
        color: scale-color($form-label-font-color, $lightness: 15%);
        background: transparent;
        padding: 0;
        text-transform: $form-label-small-transform;
        font-style: normal;
        font-size: 60%;
        margin: 0;
        display: inline;
      }
    }

    span.error-message {
      display: block;
    }
  }

  input.error,
  textarea.error,
  select.error {
    margin-bottom: 0;
  }
  label.error { @include form-label-error-color; }
}