/// Color of labels prefixed to an input.
/// @type Color
$input-prefix-color: #333 !default;

/// Background color of labels prefixed to an input.
/// @type Color
$input-prefix-background: #f2f2f2 !default;

/// Border around labels prefixed to an input.
/// @type Border
$input-prefix-border: 1px solid #ccc;

@mixin foundation-form-prepostfix {
  .input-group {
    display: table;
    width: 100%;
    margin-bottom: $form-spacing;
  }

  %input-group-child {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
  }

  .input-group-label {
    @extend %input-group-child;
    text-align: center;
    height: 100%;
    padding: 0;
    background: $input-prefix-background;
    color: $input-prefix-color;
    border: $input-prefix-border;

    @if hasvalue($input-prefix-border) {
      &:first-child {
        border-right: 0;
      }
      &:last-child {
        border-left: 0;
      }
    }
  }

  input.input-group-field {
    @extend %input-group-child;
  }

  .input-group-button {
    @extend %input-group-child;
    height: 100%;
    padding: 0;
    text-align: center;
  }
}
