////
/// @group forms
////

/// Background color for select menus.
/// @type Color
$select-background: #fafafa !default;

/// Border radius around select menus.
/// @type Number
$select-radius: $input-radius !default;

/// Color of the dropdown triangle inside select menus. Set to `transparent` to remove it entirely.
/// @type Color
$select-triangle-color: #333 !default;

@mixin form-select {
  $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));

  height: $height;
  padding: ($form-spacing / 2);
  border: $input-border;

  font-size: $input-font-size;
  font-family: $input-font-family;
  line-height: normal;
  color: $input-color;
  background-color: $select-background;

  @if $select-triangle-color != transparent {
    @include background-triangle($select-triangle-color);
    background-size: 9px 6px;
    background-position: right ($form-spacing / 2) center;
    background-repeat: no-repeat;
  }

  border-radius: $select-radius;

  // Disabled state
  &:disabled {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
  }

  // Hide the dropdown arrow shown in newer IE versions
  &::-ms-expand {
    display: none;
  }
}

@mixin foundation-form-select {
  select {
    @include form-select;
    -webkit-appearance: none;
    -moz-appearance: none;

    &[multiple] {
      height: auto;
    }
  }
}
