$input-color: rgba(0, 0, 0, 0.75) !default;
$input-font-family: inherit !default;
$input-font-size: rem-calc(14) !default;

$input-background: #fff !default;
$input-background-focus: scale-color(#fff, $lightness: -2%) !default;
$input-background-disabled: #ddd !default;

$input-border: 1px solid #ccc !default;
$input-border-focus: 1px solid #999 !default;

$input-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !default;
$input-shadow-focus: 0 0 5px #999 !default;

$input-radius: 0 !default;
$input-cursor-disabled: $cursor-default-value !default;
$input-transition: box-shadow 0.5s, border-color 0.5s ease-in-out !default;

$input-number-spinners: true !default;

@mixin form-element {
  $height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $height;
  padding: $form-spacing / 2;
  border: $input-border;
  margin: 0 0 $form-spacing 0;
  
  font-family: $input-font-family;
  font-size: $input-font-size;
  color: $input-color;
  background-color: $input-background;
  box-shadow: $input-shadow;
  border-radius: $input-radius;

  @if hasvalue($input-transition) {
    transition: $input-transition;
  }

  // Focus state
  &:focus {
    border: $input-border-focus;
    background: $input-background-focus;
    outline: none;
    box-shadow: $input-shadow-focus;
  }

  // Disabled state
  &:disabled,
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-background-disabled;
    cursor: $input-cursor-disabled;
  }
}

@mixin foundation-form-text {
  #{text-inputs(all, 'input')} {
    @include form-element;

    -webkit-appearance: none;
    -moz-appearance: none;
  }

  // Reset styles on button-like inputs
  input[type="submit"],
  input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
  }

  // Number input styles
  input[type='number'] {
    @if not($input-number-spinners) {
      -moz-appearance: textfield;

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  // Text areas
  textarea {
    max-width: 100%;

    &[rows] {
      height: auto;
    }
  }
}
