@import "util/color";

@include describe("Foreground") {
  @include it("returns black if the input color is light") {
    $actual: foreground($white);
    $expected: $black;

    @include should(expect($actual), to(be($expected)));
  }

  @include it("returns white if the input color is dark") {
    $actual: foreground($black);
    $expected: $white;

    @include should(expect($actual), to(be($expected)));
  }
}

@include describe("Smart Scale") {
  @include it("darkens a light color") {
    $color: $white;
    $scale: 5%;
    $threshold: 60%;

    $actual: smart-scale($color, $scale, $threshold);
    $expected: scale-color($color, $lightness: -$scale);

    @include should(expect($actual), to(be($expected)));
  }
  @include it("lightens a dark color") {
    $color: $black;
    $scale: 5%;
    $threshold: 60%;

    $actual: smart-scale($color, $scale, $threshold);
    $expected: scale-color($color, $lightness: $scale);

    @include should(expect($actual), to(be($expected)));
  }
}
