@import "util/color";

@include describe("Foreground") {
  @include it("returns black if the input color is light") {
    $actual: foreground(#fff);
    $expected: #000;

    @include should(expect($actual), to(be($expected)));
  }

  @include it("returns white if the input color is dark") {
    $actual: foreground(#000);
    $expected: #fff;

    @include should(expect($actual), to(be($expected)));
  }
}

@include describe("Smart Scale") {
  @include it("darkens a light color") {
    $color: #fff;
    $scale: 5%;
    $threshold: 60%;

    $actual: smart-scale($color, $scale, $threshold);
    $expected: scale-color($color, $lightness: -$scale);

    @include should(expect($actual), to(be($expected)));
  }
  @include it("lightens a dark color") {
    $color: #000;
    $scale: 5%;
    $threshold: 60%;

    $actual: smart-scale($color, $scale, $threshold);
    $expected: scale-color($color, $lightness: $scale);

    @include should(expect($actual), to(be($expected)));
  }
}
