<div class="row">
  <div class="large-3 columns">
    <%= render "_sidebar.html.erb" %>
  </div>

  <div id="changelog" class="large-9 columns">

    <% @page_title = "Changelog" %>
    <h2><%= @page_title %></h2>

    <h4 class="subheader">We'll keep you up to date with what we've released so you at least have a gist of what goes into each update. For the most part, we'll try to list things out as detailed as we see necessary.</h4>

    <%= render 'CHANGELOG.md' %>

    <hr>

    <div class="panel">
      <h3>Where Does Foundation Work?</h3>
      <h5 class="subheader">Foundation is the most advanced front-end framework in existence. We've ditched IE7 so that we can do more awesome things and push the web to where it needs to be.</h5>
      <a class="button" href="support.html">Browser Support &raquo;</a> <a class="secondary button" href="faq.html">Frequently Asked Questions &raquo;</a>
    </div>


  </div>
</div>








