<% @page_title = "4 Documentation" %>
<div class="row">
  <div class="large-12 columns">
    <h1>Foundation <%= @page_title %></h1>
    <hr>
  </div>
</div>


<div class="row">
  <div class="large-3 columns">
    <%= render "_sidebar.html.erb" %>
  </div>

  <div class="large-9 columns">


  </div>
</div>








