<% @page_title = "Javascript" %>
<div class="row">
  <div class="large-12 columns">
    <p><a href="index.html">&laquo; Back</a></p>
    <h1>Foundation <%= @page_title %></h1>
    <h4 class="subheader">Foundation 4 streamlines the implementation of the Foundation plugins by combing them all into essentialy one plugin under the <code>$.fn.foundation()</code> Zepto/jQuery namespace.</h4>
    <hr>
  </div>
</div>