

/* Styles for Product Card */

$primary-color: #008cba;

body {
  padding-top: 100px;
}

.month {
  height: 110px;
  width: 100%;
  background: $primary-color;
  overflow: hidden;
  text-align: center;
  
  .back {
    position: relative;
    padding: 20px;
    float: left;
    height: 100%;

    &:before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; 
      border-right:8px solid #fff; 
      position: absolute;
      top: 46px;
      left: 22px;
      opacity: 0.5;
    }
  }  
  
  .next {
    position: relative;
    padding: 20px;
    float: right;
    height: 100%;

    &:before {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; 
      border-left:8px solid #fff; 
      position: absolute;
      top: 46px;
      right: 22px;
      opacity: 0.5;
    }
  }      

  h5 {
    color: #fff;
    margin: 42px 0 0;
    text-transform: uppercase;
  }
  p {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}

.calendar ul {
  padding: 15px;
  background: #f3f3f3;
  margin: 0;

  &.weekdays {
    padding: 10px 15px 3px;
    background: #f9f9f9;
  }

  li {
    list-style-type: none;
    display: inline-block;
    width: 12.8%;
    height: 25px;
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-bottom: 4px;
    
    span {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }

    a {
      color: #888;
      display: block;
      padding: 4px 0;

      &:hover {
        border-radius: 5px;
        background: #f9f9f9;
      }

      &.active {
        border-radius: 5px;
        border: 2px solid #ddd;
        padding: 2px 0;
      }
    }
  }
}
