
/* Styles for Option Button */
.wrapper {
  overflow: hidden;
  display: inline-block;
  border: 2px solid #008cba;
  border-radius: 999px;
  text-align: center;
  width: 100%;
  background: #fff;
  margin-top: 50px;

  &:hover {
    border: none;
    background-color: #008cba;
    transition: background-color 0.3s ease;
    
    .inside { 
      display: block;
      font-size: 16px; 
      padding: 22px;
      float: left;

      &:hover {
        transition: background-color 0.3s ease;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    label { display: none; }
  }
  .inside {
    display: none;
    color: #fff;
    width: 50%;
    z-index: 9999;
  }

  label {
    padding: 16px;
    color: #008cba;
    font-size: 16px;
    font-weight: bold;
  }
}