.bump{
  margin-top: 50px;
  padding-right: 30px;
  padding-left:30px;
}

.profile-card{
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  background: #2B2937;
  overflow:hidden;
  h4{
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    line-height:26px;
    span{
      font-size: 20px;
      color: #8C91A7;
      display: block;
    }
  }
  img{
    border-radius: 50%;
    border: 4px solid #69708C;
  }
  .button-group{
    width: 101%;
    .button{
      margin-bottom: 0;
      border-top: none;
      border-left: none;
      border-right: 2px solid #2B2937;
      border-bottom: none;
      background-color: #394165;
      height: 80px;
      padding-top: 15px;
      margin-top: 20px;
      font-weight:200;
      font-size: 16px;
      line-height: 26px;
      color: #8C91A7;
      box-shadow: none;
      span{
       display: block;
       font-size: 24px;
       font-weight: 600;
       color:#fff;
      }
    }
  }
  p{
    font-size: 16px;
    margin-bottom: 0;
    color: #8C91A7;
    }
  i{
    font-size: 26px;
    vertical-align:middle;
    padding-right: 5px;
    color: #394165;
  }
}

@media only screen and (max-width: 767px){
  .profile-card{
    img{
     margin-left:auto;
     margin-right:auto;
     width:40%;
    }
    h4, p{
      text-align: center;
    }
    .button-group .button{
      font-size: 14px;
      span{
        font-size: 20px
      }
    }
  }
}


